 <div id="dataTables">
  <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
    <thead>
      <tr>
        <th>Promocode</th>
        <th>Cap</th>
        <th>Usage</th>
        <th width="20%">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% @ad_promocodes.each do |ad_promocode| %>
        <tr>
          <td>
            <%= ad_promocode.promocode %>
          </td>
          <td>
            <%= ad_promocode.cap %>
          </td>
          <td>
            <%= ad_promocode.usage || 0 %>
          </td>
          <td>
            <%if ad_promocode.usage.blank? || ad_promocode.usage == 0 %>
              <%= link_to "Destroy",merchant_account_account_brand_ad_ad_promocode_path(@current_account,@account_brand,@ad,ad_promocode) %>
            <% end %>
          </td> 
        </tr> 
      <% end %>
    </tbody>  
  </table>
</div>