
<div class="box-content">
  
  <div id="dataTables">
    <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
      <thead>
        <tr>
          <th>Outlet Key</th>
          <th>Address</th>
          </tr>
      </thead>
      <tbody>
      <% @outlets.each do |outlet| %>
        <tr>
          <td><%= outlet.outlet_key %></td>
          <td><%= outlet.address %></td>
          <td>
          <% if outlet.is_active == true %>
              <%= check_box_tag :is_active, :ssl_enabled, :boolean, :default => 1%>
            <% else %>
              <%= check_box_tag :is_active %>
            <% end %>
          </td>
        </tr> 
      <% end %>
      </tbody>  
    </table>
</div>
  