<%= render :partial=>'header' %>
<div class="row-fluid">
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <span class="title">Add Outlets</span>
      </div>

      <div class="box-content">
        <%= form_tag(add_more_outlets_merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,@ad_group),:class=>"validatable") do %>
          <div class="padded">    
            <div class="control-group">
              <label class="control-label">Outlets *</label>
              <div class="controls">
                <%= select_tag("outlet_ids",options_from_collection_for_select(@outlets,:id,:full_address,{}),:multiple=>true,:class=>"chzn-select span12") %>
                 Want to add all outlets?<%= link_to 'Add all Outlets', add_all_outlets_merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,@ad_group) %>          
                    
              </div>
            </div>
          </div>  
          <div class="clearfix"></div> 
          <div class="form-actions">
            <button type="submit" class="btn btn-blue">Add Outlet</button>
          </div>
                  
        <% end %>       
      </div>  
    </div>
  </div>
</div> 