<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @address_button_select.customer %>
</p>


<%= link_to 'Edit', edit_address_button_select_path(@address_button_select) %> |
<%= link_to 'Back', address_button_selects_path %>
