 <div id="dataTables">
  <table cellpadding="0" cellspacing="0" border="0" class="dTable responsive">
    <thead>
      <tr>
        <th><div>Name</div></th>
        <th><div>Promocode</div></th>
        <th width="14%">Manage</th>
      </tr>
    </thead>
    <tbody>
      <% ad_groups.each do |ad_group| %>
      <tr>
        <td>
          <%=link_to ad_group.name ,merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,ad_group)%>
        </td>
        <td>
          <%= ad_group.ad_promocodes.size %>
        </td>
        <td>
          <% if can? :destroy, ad_group %>
            <%= link_to 'Delete', merchant_account_account_brand_ad_ad_group_path(@current_account,@account_brand,@ad,ad_group), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </td>
      </tr> 
      <% end %>
    </tbody>  
  </table>
</div>