<%= render :partial=>'header' %>
<div class="pull-right">
  <%= link_to "Create Ad",new_merchant_account_account_brand_ad_path(@current_account,@account_brand),:class=>"btn btn-info"%>
  <br/>
  <br/>  
</div>
<div class="clearfix"></div>
<div class="box">
  <div class="box-header">
    <span class="title">Ads</span>
  </div>

  <div class="box-content">
    <%= render :partial=>"ads",:locals=>{:ads=>@ads} %>

    <%#= render :partial=>"ads",:locals=>{:ads=>@expiry_ads} %>

  </div>
</div>

