<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
  <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
  <meta content='Deals, Offers, Discounts' name='Keywords'>
  <!-- Facebook -->
  <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
  <meta content='http://www.gullakmaster.com/' property='og:url'>
  <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
  <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
  <!-- Twitter Card -->
  <meta name='twitter:card' value='summary'>
  <meta name='twitter:site' value='@gullakmaster'>
  <meta content='http://www.gullakmaster.com/' name='twitter:url'>
  <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
  <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
  <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
  <!-- Generic -->
  <meta content='noodp,noydir' name='robots'>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <!-- Microsoft -->
  <meta content='no' http-equiv='ImageResize'>
  <meta content='no' http-equiv='ImageToolbar'>
  <meta content='true' name='MSSmartTagsPreventParsing'>
  <!-- Facebook Places -->
  <meta content='GullakMaster' property='og:site_name'>
  <link rel="stylesheet" href="assets/bootstrap.css"  type="text/css"/>
  <link rel="stylesheet" href="assets/smartnav.css">
  <link rel="stylesheet" href="assets/desktop-css-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script type="text/javascript" src="assets/jquery.pnotify.min.js"></script>
  <script type="text/javascript" src="assets/jquery.ba-hashchange.js"></script>
  <script type="text/javascript" src="assets/left-menu-bar.js"></script>
  <script src="assets/jquery.color.js"></script>
  <script src="assets/script.js"></script>

  <link href="assets/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
  <!-- Include this file if you are using Pines Icons. -->
  <link href="assets/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />
  <!-- aToolTip js -->
  <script type="text/javascript" src="assets/jquery.atooltip.js"></script>
  <title>GullakMaster - Home</title>
  <script type="text/javascript">
      (function(){
          var field = document.getElementById('s');
          var placeholdertext = "Search box"; // << change this to whatever you want the placeholder text to be

          field.setAttribute("onblur", "if(value=='') { value = '" + placeholdertext + "'")
          field.setAttribute("onfocus", "if(value=='" + placeholdertext + "') { value = '' }")
      })();
  </script>
  <script type="text/javascript">
      $(function(){
          $('a.normalTip').aToolTip();
      });
  </script>
</head>
<body>
<div id="header2">
  <section id="top-bar">
    <section class="top-bar1">
      <div class="subtitle">Deals At Your Fingertips !!!</div>
      <ul class="social-links">
        <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
        <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
      </ul>
    </section>
  </section>
  <section id="header-div">
    <section id="header-container">
      <div class="wrapper">
        <section id="logo-wrapper" class="one_fourth">
          <a href="#"><img src="assets/desktop/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
        </section><!-- end logo -->
        <!--<div class="clearboth"></div>-->
      </div>
      <ul class="smartnav">
        <li class="home"><a href="mobile-desktop-customized">&nbsp;</a></li>
        <li class="active">Blogs
          <ul>
            <li><a href="articles">Product Updates</a></li>
          </ul>
        </li>
        <li>
          About Us
          <ul>
            <li><a href="traffic-patterns">Traffic Patterns</a></li>
            <li><a href="aboutus-team">Our Team</a></li>
            <li><a href="careers">Careers</a></li>
            <li><a href="terms-of-use">Terms of Use</a></li>
            <li><a href="privacy-policy">Privacy Policy</a></li>
          </ul>
        </li>
        <li>Merchants
          <ul>
            <li><a href="Sales-form">Contact Sales Rep</a></li>
          </ul>
        </li>
        <li>Contact
          <ul>
            <li><a href="office-locations">Office Locations</a></li>
            <li><p><a href="#" class="normalTip exampleTip" title="careers@gullakmaster.com">Career Enquiries</a></p></li>
            <li><p><a href="#" class="normalTip exampleTip" title="merchant@gullakmaster.com">Merchant Enquiries</a></p></li>
            <li><p><a href="#" class="normalTip exampleTip" title="investor@gullakmaster.com">Investor Enquiries</a></p></li>
            <li><p><a href="#" class="normalTip exampleTip" title="media@gullakmaster.com">Media Enquiries</a></p></li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
</div>

<section id="blog">
  <div id="post">

    <% @articles.each do |article| %>
          <h4><%= link_to article.title, article %></h4><br>
          <div class="date"><%= l article.created_at %></div><br>
          <%= article.body %>
    <% end %>

    <div id="screen-div">
      <div id="demo-poster">
        <div class="pre-box1">
          <ul class="share-links">
            <li><a href="#" class="tw">&nbsp;</a></li>
            <li><a href="#" class="in">&nbsp;</a></li>
            <li><a href="#" class="fb">&nbsp;</a></li>
            <li><a href="#" class="gplus">&nbsp;</a></li>
            <li><a href="#" class="email">&nbsp;</a></li>
            <li><a href="#" class="comment">&nbsp;</a></li>
          </ul>

          <div class="phone-screens">
            <ul class="screens">
              <li><img src="assets/desktop/screen-1.jpg" border="0" /></li>
              <li><img src="assets/desktop/screen-2.jpg" border="0" /></li>
              <li><img src="assets/desktop/screen-2.jpg" border="0" /></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <p>GullakMaster.com has launched pan India and that too in a new avatar – a mobile web app. In this app you will see ‘posters’ from your nearest stores promoting their deals. Each ‘poster’ includes pertinent information that will help you save time, money, and enegry. A typical ‘poster’ has  the following parameters:</p>

    <div id="screen-div">
      <div id="demo-poster">
        <div class="pre-box1">
          <!--<a href="#"><img src="img/Poster.jpg" border="0" /></a>-->
          <div class="bdiv">
            <div class="bbox">
              <div class="brandtitle">Brand Title</div>
              <div class="eye2"><a onclick="$.pnotify({
                      title: 'Offer',
                      text: 'The offer text would get displayed here.',
                      opacity: .9
                      });" class="btn source"></a></div>
              <div align="center" class="brandlogo"><img class="img-responsive" src="assets/desktop/logo-generic.jpg" border="0" /> </div>
              <div class="rch-btns-div">
                <div class="btn190"><a class="button_map2"><img src="assets/desktop/address-generic.jpg" border="0" /></a></div>
                <div class="btn190"><a class="button_call2"><img src="assets/desktop/call-generic.jpg" border="0" /></a></div>
              </div>
              <div class="distance-div">Distance: xx.x km</div>
            </div>
            <div class="lower-box">
              <div class="refr2"></div>
              <div class="star2"></div>
              <div class="right-box">
                <a href="#">
                  <div class="run2"></div>
                  <div class="runtxt">20.3K</div>
                </a>
              </div>
            </div>
          </div>
          <div class="pre-box2">
            <ul class="listpoints">
              <li>Indicates GullakMaster exclusive deals</li>
              <li>Your distance from the store</li>
              <li>Display store address</li>
              <li>Call the store directly from your mobile</li>
              <li>Share the deal with your friends</li>
              <li>View details of the deal</li>
              <li>Request an offer-code (sent to you via SMS)</li>
              <li>Number of deals consumed</li>
            </ul>
          </div>

        </div>
      </div>

      <p>With GullakMaster.com you can now request deals at the click of a button - no sign up, no upfront costs, no printouts or paper cuttings.. When you request a deal via the app, an offer-code is sent to your mobile by SMS. To redeem the offer flash the SMS to the store cashier. Its just that simple!</p>

      <p>We welcome you to the world of GullakMaster where its all about You, Your Mobile, and Deals At Your Fingertips. Try it out folks! </p>
    </div>
  </div>
</section>

<div id="footer">
  <div class="centerfooter">GullakMaster &#169; 2014</div>
</div>
<script type="text/javascript" src="assets/bootstrap.js"></script>
</body>
</html>