<section id="blog">
  <div id="post">

    <% @articles.each do |article| %>
          <h4><%= link_to article.title, article %></h4><br>
          <div class="date"><%= l article.created_at %></div><br>
          <%= article.body %>
    <% end %>

<div id="footer">
  <div class="centerfooter">GullakMaster &#169; 2014</div>
</div>
