<div ng-init='get_individual_outlet()'>
    <div class="row-fluid" >
        <div class="google-map"
            center="map.center"
            draggable='true'
            zoom="map.zoom"
            bounds="map.bounds"
            >
                <marker coords='{latitude: poster.latitude, longitude: poster.longitude}'></marker>
            <marker coords='map.user_location' icon='map.user_icon' ></marker>
        </div>
    </div>
    <div class="bdiv" outlet_id="{{poster.outlet_id}}" id="{{poster.outlet_id}}" ad_id="{{poster.ad_id}}" >
        <div class="bbox">
            <div class="brandtitle">
                {{poster.brand_name}}
            </div>
            <div ng-class="{'eye2': poster.ad_is_exclusive}"></div>
            <div align="center" class="brandlogo">
                <img ng-src={{poster.brand_image}}>
            </div>
            <hr style="width:100%; margin:2px 0;">
            <div class="lower-box">
                <div ng-if='poster.ad_usage!= -1' >
                    <div ng-if='poster.is_unlocked == true' >
                        <div class="like"><div class="button_liked_offer" ></div></div>
                    </div>
                    <div ng-if='poster.is_unlocked != true' >
                        <div class="like"><a ng-class="{'button_offer': change_icon, 'button_liked_offer': !change_icon}" ng-click='tracking(poster.ad_id, poster.outlet_id, "like", poster.ad_id); unlock(poster.brand_name, poster.ad_id, poster.outlet_id, poster.sms_text, $index, poster.distance, poster.latitude, poster.longitude)' ng-controller='ListingController'>&nbsp;</a></div>
                    </div>
                    <p style="position:relative; top:2px;">{{poster.ad_usage}}  unlocked offers</p>
                </div>
                <div ng-if='poster.ad_usage == -1' %>
                    <div class="report-offer"><a  href="mailto:merchant@gullakmaster.com?subject=Report an Offer&body=Brareport-offernd: {{poster.brand_name}} %0A Offer Details: %0A Expiry Date: %0A Address: {{poster.poster_address}}" %>Report an Offer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pin-add-div">
        <div class="rch-btns-div4">
            <ul>
                <li>
                <!--<div class="pin-box">&nbsp;</div>-->
                <a class="pin-box" href="">&nbsp;</a>
                </li>
                <li>
                <div ng-if="(poster.mobile_number!= '')||(poster.phone_number!= '')" ng-controller='ListingController'>
                    <div ng-if="verified()" >
                        <a class="call button_call2" href="tel:08767451515" ng-click='tracking(poster.ad_id, poster.outlet_id, "call", poster.ad_id)'>&nbsp;</a>
                    </div>
                    <div ng-if="verified()==false" >
                        <a class="call button_call2" ng-href="{{}}" ng-click='show_modal(); tracking(poster.ad_id, poster.outlet_id, "call", poster.ad_id)'>&nbsp;</a>
                    </div>
                </div>
                <div ng-if="(poster.mobile_number== '')&&(poster.phone_number== '')" >
                    <a class="button_call_grey" href='#' >&nbsp;</a>
                </div>
                </li>
                <li>
                <a class="share" >
                    <div class="refr2" ng-click='tracking(poster.ad_id, poster.outlet_id, "poster share", poster.ad_id); poster_share(poster.outlet_id, poster.distance, poster.latitude, poster.longitude, poster.brand_name)' ng-controller='ListingController'></div>
                </a>
                </li>
            </ul>
        </div>


        <div class="distance-div">{{poster.distance | number: 2}} km</div>
        <div class="distance-div-below2">Ends: {{poster.ad_expiry_date | date: 'dd/MM'}}</div>
        <div ng-if="date('poster.ad_expiry_date') > Date('01-01-2050')">
        </div>
        <div ng-if="date('poster.ad_expiry_date') < Date('01-01-2050')">
            <div class="distance-div-below2">Ends: {{poster.ad_expiry_date}}</div>
        </div>

        <div class="add-box">


        </div>

        <div class="add-box">
            <!--<div class="adtitle1"><b>Offer details:</b></div>
            <div class="adaddress">
                {{poster.sms_text}}
            </div>-->
            <div class="adtitle1"><b>Address:</b></div>
            <div class="adaddress">
                {{poster.shop_no}}
                {{poster.address}}
            </div>
            <div class="adloc">{{poster.area_name}}<br/>
                {{poster.city_name}} {{poster.pincode}}</div>

            <div><a href="#">search more deals</a></div>
        </div>


    </div>
</div>
