<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=206827969522380&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div id="header" >
  <ul class='left-icons'>
    <li><a href="javascript:history.back()" class="backpage">&nbsp;</a></li>
    <!--<li><a href="#" class="notification"></a></li>-->
  </ul>
  <ul class="cntrlist">
    <li>
    <div class="head-brand">
      <div>
        <a href="#/home">{{poster.brand_name}}</a>
      </div>
    </div>
    </li>
  </ul>
  <ul class='right-icons'>
    <li><a href='#/home' class="new_top_share loc2" ></a></li>
  </ul>
</div>


<div ng-init='get_individual_outlet()'>
  <snap-dragger>
  <a class="" ng-click='tracking(poster.ad_id, poster.outlet_id, "unlock", poster.ad_id); unlock(poster)' ng-controller='ListingController'>
    <left-poster></left-poster>
  </a>
  <div class="pin-add-div">
    <div class="rch-btns-div4">
      <ul>
        <li>
        <a class='pin-box' ng-href="https://www.google.com/maps/dir/{{customer_latitude}},{{customer_longitude}}/{{poster.address}}"></a>
        </li>
        <li>
        <div ng-if="(poster.mobile_number!= '')||(poster.phone_number!= '')" ng-controller='ListingController'>
          <div ng-if="verified()" >
            <a class="call button_call2" href="tel:08767451515" ng-click='tracking(poster.ad_id, poster.outlet_id, "call", poster.ad_id)'>&nbsp;</a>
          </div>
          <div ng-if="verified()==false" >
            <a class="call button_call2" ng-href="{{}}" ng-click='show_modal(); tracking(poster.ad_id, poster.outlet_id, "call", poster.ad_id)'>&nbsp;</a>
          </div>
        </div>
        <div ng-if="(poster.mobile_number== '')&&(poster.phone_number== '')" >
          <a class="button_call_grey" href='#' >&nbsp;</a>
        </div>
        </li>
        <li>
        <a class="share" >
          <poster-share></poster-share>
        </a>
        </li>
      </ul>
    </div>


    <div class="distance-div">{{poster.distance}} km</div>
    <expiry-date/></expiry-date>
    <div class="ofr_dtl">{{poster.sms_text}}</div>
    <div class="add-box"></div>

    <div class="add-box">
      <div class="adtitle1"><b>Address:</b></div>
      <div class="adaddress">
        {{poster.shop_no}}
        {{poster.address}}
      </div>
      <div class="adloc">{{poster.area_name}}<br/>
        {{poster.city_name}} {{poster.pincode}}</div>
      <div><a href="#/home">search more deals</a></div>
    </div>
  </div>
  <div class="social-chnls">
    <ul class="chnls">
      <li>
      <div class="chnl-box">
        <div class="sociallogo"><img src="assets/fb-circular.png" /></div>
        <div class="flw-count">{{poster.facebook_likes_count}}</div>
        <div class="seed">
          <div class="fb-like" data-href="https://www.facebook.com/{{poster.facebook_handle}}" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
        </div>
      </div>
      </li>
      <li>
      <div class="chnl-box">
        <div class="sociallogo"><img src="assets/twitter-circular.png" /></div>
        <div class="flw-count">{{poster.twitter_followers_count}}</div>
        <div class="seed">
          <a ng-href="https://twitter.com/{{poster.twitter_handle}}" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow @twitterapi</a>
        </div>
      </div>
      </li>
    </ul>
  </div>

  <div ng-controller='SingleOutletController'>
    <a ng-click='fetch_products()' >
      <div class="ct-box">
        <div class="ct-box-div" >PRODUCT CATALOGUE</div>
      </div>
    </a>
    <product-catalogue></product-catalogue>
  </div>
  </snap-dragger>
</div>
