<div ng-controller='SocialSharingController'>
  <div id="header">
    <!--<div class="map-btn-div"><a href="#" class="map-btn-lft2">&nbsp;</a></div>-->
    <ul class="left-icons">
      <li><a class="srchlink3" href="#menu"></a></li>
      <!--<li><a href="#" class="notification"></a></li>-->
    </ul>
    <div class="head-brand"><a href="#/home">Facebook</a></div>
  </div>
  <div id="social-feeds">
    <div class="social-img-cntr">
      <div class="social-pic"><img src="assets/ccd-freeze.png" /></div>
    </div>
    <div class="social-chnls">
      <ul class="chnls">
        <li>
        <div class="chnl-box">
          <div class="flw-count">22k</div>
        </div>
        </li>
        <li>
        <div class="chnl-box">
          <div class="seed"><input type="submit" class="btn btn-social1" id="button" value="Like" ></div>
        </div>
        </li>
      </ul>
    </div>
    <div class="social-comment">
      <div class="logocircle">
        <span class="social_rounded_shadow"><img src="/assets/BibaFB.png"></span>
      </div>
      <div class="social-post-time">Last Facebook Post: 15 hrs ago</div>
      <div class="social-caption">This Super Saturday, we’re giving you a special Super power – THE GOLDEN TICKET! Ditch the long queue and get a direct entry into the store by paying a redeemable amount of INR 1000.</div>
      <div class="post-picbox">
        <img src="assets/FBImage.png" />
      </div>
      <div class="social-interactions">
        <ul class="params1">
          <li>
          <div class="likes-fb"><span>4321</span> likes</div>
          </li>
          <li>
          <div class="comm-fb"><span>41</span> comments</div>
          </li>
          <li>
          <div class="fblikebox">
            <a href="#"><img src="assets/fb-like-thumb.png" border="0" /></a>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
