<div align="center" class="container-home">
    <div class="row-fluid">
        <div class="span12">
            <div class="logo"><a href='/'><img src='assets/logo.png' style="border=0;" /></a></div>
            <div class="sub-txt">Shop with an offer</div>
        </div>
        <div class="span12">
            <div class="c-loc">
                <div class="input-group">
                    <form 'outlet_listing', method ='GET' class = 'form-without-submit' >
                        <input type='text' class = 'form-control' placeholder ='Enter Location' ng-model='search.location'>
                        <input type='hidden' name='search' value='all' >
                        <input type='hidden' name='latitude' value='0' ng-model='search.latitude'>
                        <input type='hidden' name='longitude' value='0' ng-model='search.latitude'>
                        <input type='hidden' name='view' value='outlet_listing' >
                    <div class="input-group-btn">

                    </div>
                </div>
            </div>
        </div>
        <div class="span12">
            <div class="lower-txt-below">e.g. Andheri Mumbai OR GK 2 Delhi..</div>
        </div>
        <div class="span12">
            <div class="sub-txt-below"></div>
            <input type='submit' ng-click='home_submit(search.location, search.latitude, search.longitude)' ng-controller='HomeController' value='Show All Deals' id="button" class="btn btn-blue1">
        </div>
        </form>
    </div>
</div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" style=""></script>
