<div infinite-scroll=fetch_posters() infinite-scroll-distance='3' infinite-scroll-disabled='disabled'>
    <div class="row-fluid">
        <div class="google-map"
            center="map.center"
            draggable='true'
            zoom="map.zoom"
            bounds="map.bounds"
            >
            <div ng-repeat='poster in posters'>
                <marker coords='{latitude: poster.latitude, longitude: poster.longitude}' icon='generate_markers()'></marker>
            </div>
            <marker coords='{latitude: posters[0].customer.latitude, longitude: posters[0].customer.longitude}' icon='map.user_icon' options='{zIndex: 100}'></marker>
        </div>
    </div>

    <li ng-repeat='poster in posters track by $index' class="mix bsc span12" data-outlet="<%= poster[:outlet_id] %>">
    <div class="bdiv" ng-controller='ListingController'>
        <div class="bbox">
            <div class="brandtitle">
                {{poster.brand_name}}
            </div>
            <div ng-class="{'eye2': poster.ad_is_exclusive}"></div>
            <div align="center" class="brandlogo">
                <a class="" ng-href="#/deals/shop?id={{poster.outlet_id}}&customer_latitude={{poster.customer.latitude}}&customer_longitude={{poster.customer.longitude}}&distance={{poster.distance| number: 2}}&brand_name={{poster.brand_name}}">
                    <img ng-src='{{poster.brand_image}}'>
                </a>
            </div>
            <hr style="width:100%; margin:2px 0;">
            <div class="lower-box">
                <div ng-if='poster.ad_usage!= -1' >
                    <div ng-if='poster.is_unlocked == true' >
                        <div class="like"><div class="button_liked_offer"></div></div>
                    </div>
                    <div ng-if='poster.is_unlocked != true' >
                        <div class="like"><a ng-class="{'button_offer': change_icon, 'button_liked_offer': !change_icon}" ng-click='tracking(poster.ad_id, poster.outlet_id, poster.ad_id, poster.ad_id); unlock(poster.brand_name, poster.ad_id, poster.outlet_id, poster.sms_text, $index)' ng-controller='ListingController'>&nbsp;</a></div>
                    </div>
                    
                    <p style="position:relative; top:1px;">{{poster.ad_usage}}  unlocked offers</p>
                </div>
                <div ng-if='poster.ad_usage == -1' >
                    <div class="report-offer"><a  href="mailto:kaustubh@shoffr.com?subject=Report an Offer&body=Brand: {{poster.brand_name}} %0A Offer Details: %0A Expiry Date: %0A Address: {{poster.poster_address}}" %>Report an Offer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pin-add-div" outlet_id="<%= poster[:outlet_id] %>" id="<%= poster[:outlet_id] %>" ad_id="<%= poster[:ad_id] %>">
        <div class="rch-btns-div4">
            <ul>
                <li>
                <!--<div class="pin-box">&nbsp;</div>-->
                <a class="pin-box" ng-href="#/deals/shop?id={{poster.outlet_id}}&customer_latitude={{map.center.latitude}}&customer_longitude={{map.center.longitude}}&distance={{poster.distance| number: 2}}&brand_name={{poster.brand_name}}"></a>
                </li>
                <li>
                <div ng-if="(poster.mobile_number!= '')||(poster.phone_number!= '')" >
                    <div ng-if="verified()" >
                        <a class="call button_call2" href="tel:09223584822" ng-click='tracking(poster.ad_id, poster.outlet_id, poster.ad_id, poster.ad_id)'>&nbsp;</a>
                    </div>
                    <div ng-if="verified()==false" >
                        <a class="call button_call2" ng-href="{{}}" ng-click='show_modal(); tracking(poster.ad_id, poster.outlet_id, poster.ad_id, poster.ad_id)'>&nbsp;</a>
                    </div>
                </div>
                <div ng-if="(poster.mobile_number== '')&&(poster.phone_number== '')" >
                    <a class="button_call_grey" href='#' >&nbsp;</a>
                </div>

                </li>
                <li>
                 <a class="share" >
                        <div class="refr2"></div>
                        <!--<div class="refr2txt">Share</div>-->
                    </a>
                </li>
            </ul>
        </div>


        <div class="distance-div">{{poster.distance | number:2}} km</div>
        <expiry-date/></expiry-date>
        <div class="add-box">
          
                
        </div>
        <div class="add-box">
            <!--<div class="adtitle1"><b>Offer details:</b></div>
            <div class="adaddress">
                {{poster.sms_text}}
            </div>-->
            <div class="adtitle1"><b>Address:</b></div>
            <div class="adaddress">
                {{poster.shop_no}}
                {{poster.address}}
            </div>
            <div class="adloc">{{poster.area_name}}<br/>
                {{poster.city_name}} {{poster.pincode}}</div>
        </div>
    </div>
    </li>
    <div ng-show='disabled'>
        <div ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
            <span class="loading-style">Loading Data . . .</span>
        </div>
    </div>
</div>
