<div>
    <div ng-if="app_type=='native'">
        <div class='refr2' ng-click='tracking(poster.ad_id, poster.outlet_id, "poster_share", poster.ad_id); vvv(poster.brand_name, poster.ad_id, poster.outlet_id)' ng-controller='ListingController'></div>
    </div>
    <div ng-if="app_type!='native'">
        <div class='refr2' ng-click='tracking(poster.ad_id, poster.outlet_id, "poster_share", poster.ad_id); poster_share(poster.outlet_id, poster.distance, poster.latitude, poster.longitude, poster.brand_name)' ng-controller='ListingController'></div>
    </div>
</div>
