<div>
    <div ng-if="app_type=='html5'">
        <div class='refr2' ng-click='tracking(poster.ad_id, poster.outlet_id, "poster_share", poster.ad_id); poster_share(poster.outlet_id, poster.distance, poster.latitude, poster.longitude, poster.brand_name)'></div>
    </div>
    <div ng-if="app_type!='native'">
        <!--<a ng-click="window.plugins.socialsharing.shareViaWhatsApp('{{app_type}}', null, null, function() {console.log('share ok')}, function(errormsg){alert(errormsg)})">share</a>>
    </div>
</div>

