<div class="selfibox">
    <ul class="selfieleftpics">
        <li ng-repeat="product in products">
        <div class="brnd-wrp">
            <div class="brndovrly">
                <a ng-href='#/product/{{product.id}}'><img ng-src={{product.image_url}} border="0" /></a>
            </div>
            <div class="brand-info-box">
                <div class="brand-info-title">{{product.name}} - INR {{product.price}}</div>
                <div class="brand-info-below">
                    <div class="brand-icon-left">
                        <div class="brand-info-comt"></div>
                        <div class="brand-info-cct">{{product.product_comments_count}}</div>
                        <div class="brand-info-cct"><a href="#"> </a></div>
                    </div>
                    <div class="brand-icon-right">
                        <div class="brand-info-comt2"></div>
                        <div class="brand-info-cct2">{{product.product_likes_count}}</div>
                    </div>
                </div>
            </div>
        </div>
        </li>
    </ul>
</div>

