<body>
<div id="header">
    <!--<div class="map-btn-div"><a href="#" class="map-btn-lft2">&nbsp;</a></div>-->
    <ul class="left-icons">
        <li><a href="javascript:history.back()" class="backpage">&nbsp;</a></li>
        <!--<li><a class="srchlink3" href="#menu"></a></li>-->
        <!--<li><a href="#" class="notification"></a></li>-->
    </ul>
    <div class="head-brand"><a href="#/home">French Connection</a></div>
    <!--<ul class="right-icons">
        <li><a ngg="update_top_share_url($(this))" ng-controller="ShareController" ng-click="top_share()" class="new_top_share shr ng-scope" href=""></a></li>
        <li><a ng-click="map_view_link()" ng-class="view_button()" href="" class="outlet"></a></li>
    </ul>-->
</div>

<div class="social-comment">

    <div class="selfie-picbox">
        <img src="assets/fcuk/RUG.jpg" />
        <div class="ovrlytopleftbox">
            <button type="button" class="btn8 btn-default btn-lg">
                <div class="refr2"></div>
            </button>
        </div>
        <div class="ovrlytopbox">
            <button type="button" class="btn7 btn-default btn-lg"> <span class="glyphicon-black-heart"></span></button>
        </div>

        <div class="brand-info-box">
            <div class="brand-info-title">product name</div>
            <div class="brand-info-below">
              <div class="brand-icon-left">
                <div class="brand-info-cct"><a href="#">&#36; 30</a></div>
              </div>
            </div>
        </div>

        <div class="ovrlybotbox">
            <a href="#" class="socialItem likes">
                <em class="likeIconSmall"></em>
                <em class="socialMetaCount">5</em>
            </a>
        </div>
    </div>

    <!--<div class="selfie-post-time">Last Facebook Post: 15 hrs ago</div>-->
    <ul class="selfie-list">
        <li>Posted on</li>
        <li>15 hrs ago</li>
    </ul>
    <div class="selfie-caption">This Super Saturday, we’re giving you a special Super power – THE GOLDEN TICKET! Ditch the long queue and get a direct entry into the store by paying a redeemable amount of INR 1000.</div>
    <div class="selfie-comments-bar">comments</div>
    <div class="selfie-comment"><span>+91-9830151515:</span> If you want to ingest all of your social-network feeds from one place</div>

    <div class="selfie-comment"><span>+91-9830151515:</span> If you want to ingest all of your social-network feeds from one place</div>

    <div class="selfie-comment"><span>+91-9830151515:</span> If you want to ingest all of your social-network feeds from one place</div>

    <div class="selfie-comment"><span>+91-9830151515:</span> If you want to ingest all of your social-network feeds from one place</div>

</div>
<!--<div class="selfie-feedback-bar">
    <div class="input-group2">
        <input type="text" class="form-control1" placeholder="Write a comment ...">
        <span class="input-group-btn">
            <button class="btn btn-comment1" type="button">Post</button>
        </span>
    </div>
</div>-->
  </div>
</body>
