<div id="header">
    <ul class='left-icons'>
        <li><a href="javascript:history.back()" class="backpage">&nbsp;</a></li>
        <!--<li><a href="#" class="notification"></a></li>-->
    </ul>
    <div class="head-brand">
        <div>
            <a href="#/home">My profile</a>
        </div>
    </div>
</div>

<form ng-submit='profile_submit()' class="form-vertical" ng-controller='ProfileController' >
  <div class="control-group">
    <!--<label for="" class="control-label">Mobile Number</label>-->
    <div class="controls">
        <input type="text" size="30" name="" id="" class="pd6 input-large" placeholder="Mobile Number" ng-model='mobile_number' ng-change='check_size()'>
        <div class="input-subtxt">*Because Shoffr will send nearby offer codes by SMS.</div>
        <div class="field-success" ng-show='number_submit_message' >Verification message sent by SMS</div>
        <div ng-show='error_message' class="field-error">Please enter a valid number</div>
    </div>
  </div>
  <div class="control-group">
    <!--<label for="" class="control-label">Name</label>-->
    <div class="controls">
      <input type="text" size="30" name="" id="" class="pd8 input-large" placeholder="Your Name" ng-model='name'>
    </div>
  </div>
  <div class="control-group">
      <!--<label for="" class="control-label">Name</label>-->
      <div class="controls">
          <input type="text" size="30" name="" id="" class="pd2 input-large" placeholder="Verification Code" ng-model='verification_code' ng-change='check_verification_code_size()'><div class='field-success' ng-show='verification_code_submit_message'>{{verification_message}}</div>
          <resend-link></resend-link>
      </div>
  </div>

  <div class="control-group">
      <label for="" class="labelnot control-label">Notifications</label>
      <div class="onoffswitch2">
          <input type="checkbox" name="onoffswitch2" class="onoffswitch-checkbox2" id="myonoffswitch2" ng-model='notification_enabled' ng-change='notification_toggle()'>
          <label class="onoffswitch-label2" for="myonoffswitch2">
              <div class="onoffswitch-inner2"></div>
              <div class="onoffswitch-switch2"></div>
          </label>
      </div>
  </div>

  <div class="control-group">
      <input type='submit' class="btn btn-blue11 ng-scope" value="Submit">
  </div>
</form>
