<div id="header">
  <ul class='left-icons'>
    <li><a href="javascript:history.back()" class="backpage">&nbsp;</a></li>
  </ul>
  <div class="head-brand"><a href="#/home">Twitter</a></div>
</div>
<div id="social-feeds">
  <div class="social-img-cntr">
    <div class="social-pic"><!-- img src="assets/ccd-freeze.png" / --></div>
  </div>
  <div class="social-chnls">
    <ul class="chnls">
      <li>
      <div class="chnl-box">
        <div class="flw-count">14.2k <span>followers</span></div>
      </div>
      </li>
      <li>
      <div class="chnl-box">
        <div class="seed"><input type="submit" class="btn btn-social1" id="button" value="Follow" ></div>
      </div>
      </li>
    </ul>
  </div>

  <div ng-repeat='tweet in tweets'>
    <div class="social-comment">
      <div class="social-post-time">Last Tweet: {{tweet.created_at}}</div>
      <div class="social-caption">{{tweet.tweet_text}}</div>
      <div class="post-picbox">
        <!--<img src="assets/TWImage.jpg" />-->
      </div>
      <div class="social-interactions">
        <ul class="params1">
          <li>
          <div class="likes-fb"><span>{{tweet.retweets}}</span> retweets</div>
          </li>
          <li>
          <div class="comm-fb"><span>{{tweet.favorite}}</span> favourites</div>
          </li>
          <li>
          <div class="fblikebox">
            <a href="#"><img src="assets/retweet-icon1.png" border="0" /></a>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
