<% unless poster[:mobile_number].blank? and poster[:phone_number].blank? %>
    <% if check_if_verified(cookies[:customer_uuid])==1 %>
        <a class="call button_call2" href="tel:09223584822">&nbsp;</a>
    <% else %>
        <a class="call button_call2" href='#' >&nbsp;</a>
    <% end %>
<% else %>
	<a class="button_call_grey" href='#' >&nbsp;</a>
<% end %>

