<hr style="width:100%; margin:2px 0; clear:both;">
<div class="lower-box">
    <% if poster[:ad_usage] == -1 %>
        <div class="report-offer"><%= link_to 'Report an Offer', "mailto:merchant@gullakmaster.com?subject=Report an Offer&body=Brareport-offernd: #{poster[:brand_name]} %0A Offer Details: %0A Expiry Date: %0A Address: #{poster[:poster_address]}" %>
</div>
<% else %>
    <% if poster[:is_unlocked] == true %>
               <div class="like"><div class="button_liked_offer"></div></div>
    <% else %>
        <div class="like"><a href='#!', class='ad_request button_offer'>&nbsp;</a></div>
<% end %>
    <a class="share" >
        <div class="refr2"></div>
    </a>
    <p><%= poster[:ad_usage] %></p>
<% end %>
