<div id="popup_share" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <p><!---popup text comes here-->
    <%= image_tag "PopUp_BG.png" %>
    </p>
    <ul class="pop-up-list">
        <li><%= link_to image_tag("PopUp_FB.png"), :map_listing %></li>
        <li><%= link_to image_tag("PopUp_Email.png"), "#" %></li>
        <li><%= link_to image_tag("PopUp_SMS.png"), "#" %></li>
    </ul>
    <a class="modal_close" href="#"></a>
</div>

