<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <a class="modal_close" data-dismiss="modal"></a>
  </div>
  <div class="modal-body2">
    <p class="swpdiv"><a href="#/sweepstakes"><img src="assets/Refer-and-win.png" border="0" /><!--Refer and Win <br />Rs 50,000/- --></a></p>
  </div>
</div>

