<div class="span12">
    <div class="search-div3">
        <%= form_tag :outlet_listing, :method => 'GET', :id => 'searchForm' do |f|  %>
            <fieldset>
            <div class="input">
                <%= text_field_tag :location, nil,:id => 's', :value => "Search New Location ...", :onFocus =>"this.value=''" %>
            </div>
            </fieldset>
        <% end %>
        <div class="auto-locate"><%= link_to image_tag("navigation-icon2.png"), '#', :onclick => 'change_location()', :id => 'change_location' %></div>
    </div>
</div>

