<div class="span12">
    <div class="search-div3">
        <% location_search_url = get_location_search_url%>
        <%= form_tag location_search_url, :method => 'GET', :id => 'searchForm' do |f|  %>
            <fieldset>
            <div class="input">
                <%= hidden_field_tag :view, action_name %>
                <%= text_field_tag :location, nil,:id => 's', :placeholder => "" %>
                <script type='text/javascript'>
                    reverse_geocode();
                </script>
            </div>
        </fieldset>
    <% end %>
        <button id="submitbutton" name="submitbutton" class="btn btn-submit2">Go</button>
    </div>
</div>

