<div class="span12">
    <div class="search-div3">
        <%= form_tag :outlet_listing, :method => 'GET', :id => 'searchForm' do |f|  %>
            <fieldset>
            <div class="input">
                <%= hidden_field_tag :view, action_name %>
                <%= text_field_tag :location, nil,:id => 's', :placeholder => "" %>
                    <script type='text/javascript'>
                        reverse_geocode($('#s'));
                    </script>
            </div>
            </fieldset>
        <%= submit_tag 'Go', :id =>'submitbutton', :class => "btn btn-submit2" %>
        <% end %>
    </div>
</div>
