<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<!-- Preloader -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true" style=""></script>
<script type="text/javascript">

//function getLocation()
//{
//    if (navigator.geolocation){
//        navigator.geolocation.getCurrentPosition(showPosition_index, fail, {maximumAge: 0});
//    }
//}
//    function fail(msg){
//        ip_geocode(msg);
//
//}
//
//function ip_geocode(msg){
//    $.ajax({
//            url: 'location_from_ip'
//            }).success(
//                function(data){
//                if(data!=''||data!='undefined'){
//                disable_submit();
//                }
//                else{
//                $('#location').attr('value', data['city']);
//                update_location(data['city'])
//                }
//                    if(msg.code == 1){
//                    $('#location').attr('placeholder', 'Enter your location ...');
//                    $.pnotify({
//                        text: 'Please type an accurate location in the box below.', sticker_hover: false, animate_speed: 'fast', icon: false, closer_hover: false, opacity: .9
//                    });
//                    }
//                    else if(msg.code == 2){
//                    $('#location').attr('placeholder', 'Enter your location ...');
//                    $.pnotify({
//                        text: 'We were unable to determine your location. Please type an accurate location in the box below.', sticker_hover: false, animate_speed: 'fast', icon: false, closer_hover: false, opacity: .9
//                    });
//                    }
//                    else{
//                    $('#location').attr('placeholder', 'Enter your location ...');
//                    }
//                })
//}
//
//function disable_submit(){
//    if ($('#location').attr('value') ==""){
//        $('#button').attr('disabled',true);
//    }
//}
//
//function showPosition_index(position){
//    google_api_call($('#location'), position.coords.latitude, position.coords.longitude);
//    $('#latitude').attr('value',position.coords.latitude);
//    $('#longitude').attr('value',position.coords.longitude);
//    update_location($('#location').value);
//}
//
//function update_category_urls(){
//    $('#location').bind({
//        keyup: function(){
//        value =$('#location').attr('value')
//        update_location(value);
//        }
//    })
//}
//
//function number_validation(){
//    if($.cookie("mobile_number") != 'verified'){
//        $('#mobile-number').modal('show');
//        console.log('iffffffffffffffffff');
//        return false;
//    }
//    else{
//        console.log('elseeeeeeeeeeeeeee');
//        return true;
//    }
//}
//
//$(document).ready(function(){
//    update_category_urls();
//    getLocation();
//    enable_submit($('#location'),$('#button'));
//    modal_submit();
//    verification_modal_submit();
//    mobile_number_verification();
//    })
</script>
<%= render :partial => "new_mobile_number_modal" %>
<%= render :partial => "verify_mobile_number" %>
</body>
</html>
