<div class="container-location">
    <div class="row-fluid">
        <%= render 'top_location_search_bar' %>
        <div class="error-box-no-results">
            <div class="session-id"><%= @current_session_id %></div>
            <!--<div class="error-number">404</div>
          <div class="error-line">
            <p>The page you were looking for</p>
            <p>doesn't exist</p>
          </div>-->
            <!--<div class="click-to-go"><a href="javascript:history.back()">CLICK HERE TO GO BACK</a></div>-->
            <!--<div class="error-logo"><a href="javascript:history.back()"><img src="assets/gm-small-logo.png"></a></div>-->
        </div>
    </div>
</div>

