<div class="container-location">
    <div class="row-fluid">
        <%= render 'top_location_search_bar' %>
        <div>
            <% if @poster_data.nil? %>
                <div class="no-search-results">No results found</div>
            <% else %>
                <% @poster_data.each do |poster| %>
                            <%= render :partial => 'poster', :locals => {:poster => poster} %>
                <% end %>
                <%#= paginate @poster_data %>
            <% end %>
        </div>
    </div>
</div>
