<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
    	  <title>GullakMaster - Outletview</title>
    	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
        <!-- jQuery Plugin -->
     
    <!-- Preloader -->
    <script type="text/javascript">// <![CDATA[
    $(window).load(function() { $("#spinner").fadeOut("slow"); })
    // ]]>
    </script>

    </head>
    <body>
      <!-- Preloader -->
      <div id="spinner"></div>
      <img src="img/ajax-loader.gif" id="loading-indicator" style="display:none" />
    	<header>
        <!--<div class="map-btn-div"><a href="#" class="map-btn-lft2">&nbsp;</a></div>-->
        <ul class="left-icons">
          <li><a href="#" class="loc">&nbsp;</a></li>
          <li><a onclick="$.pnotify({
                            title: 'Notification',
                            text: 'You have notifications here',
                            opacity: .9
                        });" class="notify"><span class="badge badge-dark-red">5</span></a></li>
        </ul>
    	  <div class="head-brand">GullakMaster</div>
        <ul class="right-icons">
          <li><a href="#" class="invfrnd2"></a></li>
          <li><a href="#" class="srchlink2"></a></li>
        </ul>
    	</header>

    	<nav class="navbar navbar-default" role="navigation">
        <div class="brnd-txt">Brand Text</div>
        <div class="navbar-header">
          <div class="dropdown">
            <button type="button" class="navbar-toggle" id="dropdownMenu1" data-toggle="dropdown">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Personalise</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hot Picks</a></li>
            </ul>
          </div>
          <!--<a class="navbar-brand" href="#">Brand</a>-->
        </div>
      </nav>

                <div class="bdiv">
                  <div class="bbox">
                    <div class="brandtitle">maple</div>
                    <div class="eye2"><a onclick="$.pnotify({
                            title: 'Offer',
                            text: 'The offer text would get displayed here.',
                            opacity: .9
                        });" class="btn source"></a></div>
                    <div align="center" class="brandlogo"><img class="img-responsive" src="img/maple-medium.png" border="0" /> </div>
                    <div class="rch-btns-div">
                      <div class="btn190"><a class="button_map2" href="mapview.html">ADDRESS</a></div>
                      <div class="btn190"><a class="button_call2" href="tel:+91-9819654191">CALL</a></div>
                    </div>
                    <div class="distance-div">Distance: xx.x km</div>
                  </div>
                  <div class="lower-box">
                    <div class="refr2"></div>
                    <div class="star2"></div>
                    <div class="right-box">
                      <a href="#">
                        <div class="run2"></div>
                        <div class="runtxt">20.3K</div>
                      </a>
                    </div>
                  </div>
                </div>

    				</div>
    		</div>
    	</div>
    </body>
    </html>

