<div class="container-location">
    <div class="row-fluid">
        <%= render 'top_location_search_bar' %>
        <div>
            <% if @final_outlets.nil? %>
                <div class="no-search-results">No results found</div>
            <% else %>
                <% @final_outlets.each do |outlet| %>
                    <% outlet.ads.each do |ad| %>
                        <%= render :partial => 'poster', :locals => {:outlet => outlet, :ad => ad} %>
                    <% end %>
                <% end %>
                <%#= paginate @final_outlets %>
            <% end %>
        </div>
    </div>
</div>
