<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
        <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
        <meta content='Deals, Offers, Discounts' name='Keywords'>
        <!-- Facebook -->
        <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
        <meta content='http://www.gullakmaster.com/' property='og:url'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
        <!-- Twitter Card -->
        <meta name='twitter:card' value='summary'>
        <meta name='twitter:site' value='@gullakmaster'>
        <meta content='http://www.gullakmaster.com/' name='twitter:url'>
        <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
        <!-- Generic -->
        <meta content='noodp,noydir' name='robots'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <!-- Microsoft -->
        <meta content='no' http-equiv='ImageResize'>
        <meta content='no' http-equiv='ImageToolbar'>
        <meta content='true' name='MSSmartTagsPreventParsing'>
        <!-- Facebook Places -->
        <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="assets/bootstrap.css"  type="text/css"/>
          <link rel="stylesheet" href="assets/smartnav.css">
    	  <link rel="stylesheet" href="assets/desktop-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - About Us</title>

    </head>
    <body>
        <div id="header2">
          <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                    <div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="assets/desktop/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                        <li class="home"><a href="mobile-desktop-customized">&nbsp;</a></li>
                      <li>Blogs
                        <ul>
                            <li><a href="product-updates">Product Updates</a></li>
                        </ul>
                      </li>
                      <li class="active">
                        About Us
                        <ul>
                          <li><a href="traffic-patterns">Traffic Patterns</a></li>
                          <li><a href="aboutus-team">Our Team</a></li>
                          <li><a href="careers">Careers</a></li>
                          <li><a href="terms-of-use">Terms of Use</a></li>
                          <li><a href="privacy-policy">Privacy Policy</a></li>
                        </ul>
                      </li>
                      <li>Merchants
                        <ul>
                          <li><a href="Sales-form">Contact Sales Rep</a></li>
                        </ul>
                      </li>
                      <li>Contact
                        <ul>
                          <li><a href="office-locations">Office Locations</a></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="careers@gullakmaster.com">Career Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="merchant@gullakmaster.com">Merchant Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="investor@gullakmaster.com">Investor Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="media@gullakmaster.com">Media Enquiries</a></p></li>
                           </ul>
                      </li>
                    </ul>
                </section>
            </section>
       </div>
        <section id="wrapper-div">
          <div class="about-us-wrp">
        <div class="tm-box-wrp">
            <h4>our team</h4>
            <ul class="team-members">
                <li>
                    <div class="tm-div">
                        <div class="mem-pict"><a id="go" rel="leanModal" name="signup" href="#ad"><img src="assets/desktop/ad-pic.jpg" border="0" alt="Abhishek Dadoo" title="Abhishek Dadoo" /></a></div>
                        <div class="orng-box">
                            <div class="title">abhishek dadoo</div>
                            <div class="nickname">(Mr. ProveIt)</div>
                            <div class="desig">Founder, CEO</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-div">
                        <div class="mem-pict"><a id="go" rel="leanModal" name="signup" href="#kg"><img src="assets/desktop/kg-pic.jpg" border="0" alt="Kaustubh Gupte" title="Kaustubh Gupte" /></a></div>
                        <div class="orng-box">
                            <div class="title">kaustubh gupte</div>
                            <div class="nickname">(Biggest Bhukkad)</div>
                            <div class="desig">Business Development</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-div">
                        <div class="mem-pict"><a id="go" rel="leanModal" name="signup" href="#nvm"><img src="assets/desktop/nvm-pic.jpg" border="0" alt="Narrendra Murthhy" title="Narrendra Murthhy" /></a></div>
                        <div class="orng-box">
                            <div class="title">narrendra murthhy</div>
                            <div class="nickname">(Sir Krodhit Panchi)</div>
                            <div class="desig">Product Development</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-div">
                        <div class="mem-pict"><a id="go" rel="leanModal" name="signup" href="#rh"><img src="assets/desktop/rh-pic.jpg" border="0" alt="Ritesh Haldankar" title="Ritesh Haldankar" /></a></div>
                        <div class="orng-box">
                            <div class="title">ritesh haldankar</div>
                            <div class="nickname">(The Giraffe Man)</div>
                            <div class="desig">Graphic Designer</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-div">
                        <div class="mem-pict">
                        <a rel="leanModal" name="signup" id="go" href="#gd">
                        <img border="0" title="" src="assets/desktop/Gayatri-01.jpg" alt="Gayatri Dhatrak">
                        </a>
                        </div>
                        <div class="orng-box">
                            <div class="title">gayatri dhatrak</div>
                            <div class="nickname"></div>
                            <div class="desig">Junior Developer</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="tm-div">
                        <div class="mem-pict"><a id="go" rel="leanModal" name="signup" href="#pd"><img src="assets/desktop/pd-pic.jpg" border="0" alt="Prasad Dhamnaskar" title="" /></a></div>
                        <div class="orng-box">
                            <div class="title">prasad dhamnaskar</div>
                            <div class="nickname">(Digital Keeda)</div>
                            <div class="desig">Digital Marketing</div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="team-members">
                <li>
                    <div class="tm-div">
                        <div class="mem-pict">
                            <a rel="leanModal" name="signup" id="go" href="#vv">
                            <img border="0" title="" src="assets/desktop/Vivek01-01.jpg" alt="Vivek Varade">
                        </a>
                        </div>
                        <div class="orng-box">
                            <div class="title">vivek varade</div>
                            <div class="desig">Senior Developer</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tm-box-wrp">
            <h4>our advisors</h4>
            <ul class="team-members">
            <li>
                <div class="tm-div">
                    <div class="mem-pict"><a href="http://in.linkedin.com/pub/ashish-kapur/5b/301/88a/" target="_blank"><img src="assets/desktop/ak-pic.jpg" border="0" alt="ashish " title="" /></a></div>
                    <div class="orng-box">
                        <div class="title">ashish kapur</div>
                        <div class="desig">Finance Advisor</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="tm-div">
                    <div class="mem-pict"><a href="http://in.linkedin.com/pub/sham-swaminathan/82/a46/802" target="_blank"><img src="assets/desktop/ss-pic.jpg" border="0" alt="" title="" /></a></div>
                    <div class="orng-box">
                        <div class="title">Sham Swaminathan</div>
                        <div class="desig">Business Advisor</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="tm-div">
                    <div class="mem-pict"><a href="http://in.linkedin.com/in/rajeshpant" target="_blank"><img src="assets/desktop/rp-pic.jpg" border="0" alt="" title="" /></a></div>
                    <div class="orng-box">
                        <div class="title">rajesh pant</div>
                        <div class="desig">Growth Advisor</div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>

         <div id="ad">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/ad-pic.jpg" border="0" /></div>
            <div class="name">abhishek dadoo</div>
            <div class="nick">(Mr. ProveIt)</div>
            <div class="title">Founder, CEO</div>
            <div class="l-in"><a href="http://sg.linkedin.com/pub/abhishek-dadoo/1/886/aa6" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                Abhishek is a Telecoms & Mobile industry veteran and has worked in Management Consulting, Principal Investments, and Strategy Development. He holds a dual degree in Mathematics & Computer Science from The College of Wooster (USA), MBA from INSEAD, and has worked at PwC (USA), Altman Vilandrie & Co (USA), and Ericsson Telecommunications (Singapore). 
            </p>
            <p>In late 2012 he founded GullakMaster - a mobile marketing platform for brick and mortar stores in India. With mobile becoming the point of first contact for the Indian populous, Abhishek believes that mobile marketing presents a large opportunity for digital marketers. While a lot is being done to direct online traffic to ecommerce portals, Abhishek believes that there is little innovation being done to convert mobile traffic to offline footfall for physical stores; And in the Indian context, physical stores are here to stay for a very long time. Hence, he set out to solve this problem and launched GullakMaster.
            </p>
            <p>
            Abhishek welcomes feedback and learns from his mistakes. Surrounded by numbers and data, he is a big proponent of data driven decisions. He will refute any assumption unless it is proven; so much so that the entire GullakMaster team has learnt the same gospel. At the moment, Abhishek is busy becoming a growth hacker and goes by the nickname 'Mr. ProveIt'.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>
<div id="kg">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/kg-pic.jpg" border="0" /></div>
            <div class="name">kaustubh gupte</div>
            <div class="nick">(Biggest Bhukkad)</div>
            <div class="title">Business Development</div>
            <div class="l-in"><a href="http://in.linkedin.com/in/kaustubhgupte/" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                Born in Bombay, brought up in Mumbai, Kaustubh is a home grown Mumbaikar, well acquainted with the city. He hails from a start-up background and had launched his own BPO at a young age of twenty four. He moved on to become a start-up recruitment specialist and currently does Business Development at Gullak Master. As an all-rounder, he is responsible for generating new customers, handles recruitment, and day-to-day operations of the firm. He has proven to be one of the most efficient resources to the company.
            </p>
            <p>
                Kaustubh loves his job, but has various other interests like cricket, food, food, food and food. Rather than pondering about a problem, Kaustubh believes in carving out a solution. Fortunately or unfortunately for every problem he faces, the solution is always the same; Food. He is nicknamed ‘biggest bhukkad’ at office for obvious reasons and currently has no close contender.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>
<div id="ab">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/ab-pic.jpg" border="0" /></div>
            <div class="name">aakaash berry</div>
            <div class="nick">(Filter Kaapi)</div>
            <div class="title">Creative Writer</div>
            <div class="l-in"><a href="http://in.linkedin.com/pub/aakaash-berry/83/9b1/9b9" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                Aakaash is a fresher who has completed his graduation in Mass Media. At GullakMaster, he works as a Creative Writer where his job profile includes copy writing and content related work. With an intent to work on all kinds of content be it blog writing, technical writing, script writing etc. he wishes to take this opportunity as a ladder to be a successful Creative Director in future. Being the youngest member of the organization, Aakaash brings a lot of positive energy in the work environment.
            </p>
            <p>
                Inspired by ‘Brotips’, Aakaash has come-up with his own tips which he calls as “Berrytips”. Other than writing, Aakaash also has a keen interest in football. Since people at work have always seen him writing and creating content, he is nicknamed “Filter Kaapi” by everyone in the office.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>
<div id="nvm">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/nvm-pic.jpg" border="0" /></div>
            <div class="name">narrendra murthhy</div>
            <div class="nick">(Sir Krodhit Panchi)</div>
            <div class="title">Product Development</div>
            <div class="l-in"><a href="http://in.linkedin.com/pub/narrendra-murthhy/15/948/994/" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                After procuring a degree in Mathematics, Narrendra worked as a User Interface (UI) expert at Reliance Entertainment and Hungama. Currently Narrendra is working as a Product Manager at GullakMaster. He is responsible for managing the entire front-end of the product. With 8 years of experience under his belt and his expertise in HTML5, CSS and HAML, Narrendra is an asset to the company.
            </p>
            <p>
                Apart from being a workaholic, he is such an Angry Bird fanatic that he is nicknamed “Sir Krodhit Panchi” by his colleagues. After Sir Rajnikanth and Sir Ravindra Jadeja there is only one man in our team who can be titled as ‘Sir’ and that is none other than Sir Narrendra Murthhy; not because he has done anything extraordinary for our society, but his mere existence in our workspace is a blessing in disguise.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>
<div id="rh">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/rh-pic.jpg" border="0" /></div>
            <div class="name">ritesh haldankar</div>
            <div class="nick">(The Giraffe Man)</div>
            <div class="title">Graphic Designer</div>
            <div class="l-in"><a href="http://in.linkedin.com/pub/ritesh-haldankar/83/9b3/451" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                With 5 years of experience in visual communication as a Graphic Designer, Ritesh is now a key member of GullakMaster. Ritesh’s ideation abilities set him apart from the rest of his peers. He conceptualizes an idea and renders corresponding visuals effortlessly. With his creative mind and vision, he is an invaluable asset for GullakMaster.
            </p>
            <p>
               Apart from being the serious Graphic Designer, Ritesh is often spotted with his best friend, his digital camera. When asked about his passion for photography, he says, “I can imagine my life without a girlfriend but not without my camera”. Although not the tallest person around, Ritesh is endearingly addressed as the ‘Giraffe-Man’ by everyone at the office. Giraffe being GullakMaster’s official mascot, Ritesh spends majority of his work day dressing up the Giraffe.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>
<div id="pd">
    <div class="prf-div-pop">
        <div class="prof-div-lft">
            <div class="pic"><img src="assets/desktop/pd-pic.jpg" border="0" /></div>
            <div class="name">prasad dhamnaskar</div>
            <div class="nick">(Digital Keeda)</div>
            <div class="title">Digital Marketing</div>
            <div class="l-in"><a href="http://in.linkedin.com/in/prasaddhamnaskar" target="_blank"><img src="assets/desktop/linked-in-pic.jpg" border="0" /></a></div>
        </div>
        <div class="prof-div-rht">
            <p>
                A post graduate in IT and Marketing, Prasad began his career by launching his own digital marketing agency. Today, he is a Digital Marketer at GullakMaster. With 3 years of start-up experience, Prasad is well aware of challenges in scaling a start-up. At GullakMaster, he is responsible for planning and executing on all inbound and outbound marketing channels. Relentless in tracking the ROI for his campaigns, his iterative approach to marketing makes him an essential spoke in the GullakMaster wheel.
            </p>
            <p>
                Apart from being passionate about digital marketing, Prasad likes to connect with new people. The combination of great networking skills along with his chocolate-boy looks adds to his popularity on social networking sites. This is quite evident as he manages to get more than 200 likes on his profile picture within a day. His zeal for anything Social or anything Digital has led his peers to nickname him Digital Keeda.
            </p>
        </div>
    </div>
    <a class="modal_close" href="#"></a>
</div>   
<div id="gd">
    <div class='prf-div-pop'>
        <div class='prof-div-lft'>
            <div class='pic'>
                <img border='0' src='assets/desktop/Gayatri-01.jpg'>
            </div>
            <div class='name'>Gayatri Dhatrak</div>
            <div class='title'>Junior Developer</div>
            <div class='l-in'>
                <a href='http://www.linkedin.com/pub/gayatri-dhatrak/6b/543/25a' target='_blank'>
                    <img border='0' src='assets/desktop/linked-in-pic.jpg'>
                </a>
            </div>
        </div>
        <div class='prof-div-rht'> 
            <p>
                Gayatri, has recently completed her MCA in the year 2013, from NCRD Sterling Institute of Management Studies after graduating in B.Sc IT from Mumbai University. After completing an internship of six months as a Trainee Developer, she was asked to join as a full time programmer with Yogi Software. Gayatri is a consultant with GullakMaster, through Yogi Software and has currently taken up the position of a Junior Developer here. Keen on learning new technologies, and methods of programming, she wants to explore the world of ‘ROR’ development to grow up to be a project manager someday. Her analytical skills, hard work, consistency and thorough R&D in her field, makes her a prized possession for GullakMaster.
            </p>
            <p>
                When not at work, she will most certainly be found in theatre acting sessions, drama lessons or on long drives with her friends. As they say, don’t judge a book by its cover, Gayatri comes across as the shy and quiet sort, but on the contrary has proved to be the chatter box of the office. Her noble thoughts for the needy are what set her apart from the crowd.
            </p>
        </div>
</div>
<div id="vv">
    <div class='prf-div-pop'>
        <div class='prof-div-lft'>
            <div class='pic'>
                <img border='0' src='assets/desktop/Vivek01-01.jpg'>
            </div>
            <div class='name'>Vivek Varade</div>
            <div class='title'>Senior Developer</div>
            <div class='l-in'>
                <a href='http://in.linkedin.com/pub/vivek-varade/24/89a/87b/' target='_blank'>
                    <img border='0' src='assets/desktop/linked-in-pic.jpg'>
                </a>
            </div>
        </div>
        <div class='prof-div-rht'> 
            <p>
                Vivek, has been a professional developer for almost four years now, and holds a Diploma in Computer Engineering from SMES Polytechnic, Nashik. He has freelanced for ten months in the same field, before working as a lead programmer in Wave Techline, and has also been part of Droid Evolution Games as a developer. At GullakMaster, apart from mentoring our junior web developers, Vivek’s main role is to develop the web application for us. When asked why is it that he was enthusiastic about joining GullakMaster, he well established that being a part of a product oriented company gave him the opportunity to explore advanced features of ‘ROR’ framework, as he would be focusing on a single application.
            </p>
            <p>
                Vivek proves to be an asset for our company as the ‘Agile methodology’ of development used by him, would speed up the pace of development for the web application. Vivek, when not in the serious work mode, will most likely be found developing and playing strategy games like the ‘Age of Empires’, and is soon coming up with his very own creation, ‘Dwarven Defenders’ – of course another strategy game. His calm and passionate nature towards application development is what makes him brilliant at his work.
            </p>
        </div>
</div>

        </section>

      <script type="text/javascript" src="assets/bootstrap.js"></script>
      <script type="text/javascript" src="assets/jquery.leanModal.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('a[rel*=leanModal]').leanModal({ top : 100, closeButton: ".modal_close", display: "none" });      
          });
          
          // onclick handler for a button that does some stuff before opening a leanModal dialog
            function mySampleFunc()
            {
                alert("Thank you for feedback!");
                $("#basicPopup").click();
            }
    </script> 
    <div id="footer">GullakMaster &#169; 2014</div>   
    </body>
    </html>