<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
      <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
      <meta content='Deals, Offers, Discounts' name='Keywords'>
      <!-- Facebook -->
      <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
      <meta content='http://www.gullakmaster.com/' property='og:url'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
      <!-- Twitter Card -->
      <meta name='twitter:card' value='summary'>
      <meta name='twitter:site' value='@gullakmaster'>
      <meta content='http://www.gullakmaster.com/' name='twitter:url'>
      <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
      <!-- Generic -->
      <meta content='noodp,noydir' name='robots'>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <!-- Microsoft -->
      <meta content='no' http-equiv='ImageResize'>
      <meta content='no' http-equiv='ImageToolbar'>
      <meta content='true' name='MSSmartTagsPreventParsing'>
      <!-- Facebook Places -->
      <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="assets/bootstrap.css"  type="text/css"/>
          <link rel="stylesheet" href="assets/smartnav.css">
    	  <link rel="stylesheet" href="assets/desktop-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - Company</title>

    </head>
    <body>
      <div id="header2">
            <!--<section id="top-bar">
                cfdfdf
            </section>-->

        <section id="header-container">
            <div class="wrapper">
                    <section id="logo-wrapper" class="one_fourth">
                        <a href="#"><img src="assets/desktop/logo-gm.jpg" alt="GullakMaster" title="GullakMaster" /></a>
                    </section><!-- end logo -->
                    <div class="clearboth"></div>
                </div>
            <ul class="smartnav">
                <li class="home"><a href="mobile-desktop-customized.html">&nbsp;</a></li>
              <li>Blogs
                <ul>
                  <li>This page is under construction</li>
                </ul>
              </li>
              <li class="active">
                About Us
                <ul>
                  <li><a href="aboutus-team.html">Our Team</a></li>
                  <li><a href="aboutus-company.html">Company</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="terms-of-use.html">Terms of Use</a></li>
                  <li><a href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
              </li>
              <li><a href="Sales-form.html">Merchants</a></li>
              <li>Contact</li>
            </ul>
        </section>
       </div>

       <section id="wrapper-div">
         <div class="about-us-wrp-cmp">
        <div class="cmp-bg">
            <div class="title">
                background
            </div>
            <p>
            GullakMaster provides Deals At Your Fingertips. We are a search engine for Deals in your vicinity. Currently we are operating in Mumbai with plans to expand pan-India in 2014. Our algorithms filter Deals which suit you best as per your location and preferences. With a vibrant team at GullakMaster we evolve every day, make data driven decisions, and challenge the status-quo in everything we do.
            </p>
        </div>
        <div class="whn-srch">
            <div class="leftcompbox">
                <div class="title">When you Search with GullakMaster you get:</div>
                <ul class="cpoints">
                    <li>Multiple options to search (SMS, Web, Social Media)</li>
                    <li>Instant Offer Codes on your Mobile | Free of Charge| No Printouts</li>
                    <li>Deals at Nearby Stores | Redeem directly at the Store</li>
                    <li>Deals for Brands you prefer</li>
                    <li>Options to Share with your Friends</li>
                </ul>
            </div>
            <div class="rightcompbox">
                <img src="assets/desktop/abt-us-comp.jpg" alt="Find deals near you" title="Deals At Your Fingertips" border="0" />
            </div>
        </div>
        <div class="whn-srch">
            <div class="leftcompbox2">
                <div class="title">How does GullakMaster Work?</div>
                <ul class="cpoints">
                    <li>You tell us your location and what you are looking for</li>
                    <li>We match your location, category, and brand preferences from social media</li>
                    <li>We deliver the offer codes instantly via SMS</li>
                    <li>Simply flash the offer code to the cashier and redeem</li>
                </ul>
            </div>
            <p>For any queries please email <a href="mailto:info@gullakmaster.com">info@gullakmaster.com</a></p>
        </div>
    </div>
       </section>
      <div id="footer">GullakMaster &#169; 2014</div>
    </body>
    </html>