<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
        <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
        <meta content='Deals, Offers, Discounts' name='Keywords'>
        <!-- Facebook -->
        <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
        <meta content='http://www.gullakmaster.com/' property='og:url'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
        <!-- Twitter Card -->
        <meta name='twitter:card' value='summary'>
        <meta name='twitter:site' value='@gullakmaster'>
        <meta content='http://www.gullakmaster.com/' name='twitter:url'>
        <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
        <!-- Generic -->
        <meta content='noodp,noydir' name='robots'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <!-- Microsoft -->
        <meta content='no' http-equiv='ImageResize'>
        <meta content='no' http-equiv='ImageToolbar'>
        <meta content='true' name='MSSmartTagsPreventParsing'>
        <!-- Facebook Places -->
        <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="assets/bootstrap.css"  type="text/css"/>
    	  <link rel="stylesheet" href="assets/smartnav.css">
    	  <link rel="stylesheet" href="assets/desktop-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - Office Locations</title>
    </head>
    <body>
      <div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="#"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="#1"><i class="icon-twitter"></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="assets/desktop/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                    	<li class="home"><a href="mobile-desktop-customized.html">&nbsp;</a></li>
        			  <li>Blogs
        			  	<ul>
                            <li><a href="product-updates.html">Product Updates</a></li>
                        </ul>
        			  </li>
        			  <li class="active">
        			    About Us
        			    <ul>
                          <li><a href="traffic-patterns.html">Traffic Patterns</a></li>
        			      <li><a href="aboutus-team.html">Our Team</a></li>
        			      <li><a href="careers.html">Careers</a></li>
        			      <li><a href="terms-of-use.html">Terms of Use</a></li>
        			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
        			    </ul>
        			  </li>
        			  <li>Merchants
                            <ul>
                              <li><a href="Sales-form.html">Contact Sales Rep</a></li>
                            </ul>
                          </li>
        			  <li>Contact</li>
        			</ul>
        		</section>
            </section>
       </div>
      <section id="wrapper-div">
        <h4>Careers</h4>
		<p></p>
		At GullakMaster we entrust employees with high responsibility and fast-track career growth opportunities. At our office, there are no hierarchies and you are able to execute on your ideas with speed. And the best part – our pay is competitive! Interested candidates please send your resume to
		<strong>careers@gullakmaster.com</strong>.
		Kindly mention the job title in the subject line of your email.
		<p>&nbsp;</p>
		<p>
		<b>Full-time jobs available:</b>
		</p>
		<p class='small-head'>
		<a class='small-link' href='/careers#intern'>Merchant Servicing Intern</a>
		</p>
		<p class='post'><a id='intern'>MERCHANT SERVICING (INTERN)</a></p>
		<p>Seeking 2 dynamic and hardworking interns to coordinate Corporate and College events sponsored by GullakMaster:</p>
		<ul class='bulleted2'>
		<li>Good English and confident personality is mandatory</li>
		<li>Good with Microsoft Excel and Word.</li>
		<li>Prior experience is event management and vendor management</li>
		<li>Ability to work under pressure and fit-in the company’s work culture</li>
		</ul>
		<p>&nbsp;</p>
		<p>In this role there is an opportunity to convert to a permanent employee depending upon your performance.</p>
      </section>
      <div id="footer">GullakMaster &#169; 2014</div>
    </body>
    </html>