<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
        <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
        <meta content='Deals, Offers, Discounts' name='Keywords'>
        <!-- Facebook -->
        <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
        <meta content='http://www.gullakmaster.com/' property='og:url'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
        <!-- Twitter Card -->
        <meta name='twitter:card' value='summary'>
        <meta name='twitter:site' value='@gullakmaster'>
        <meta content='http://www.gullakmaster.com/' name='twitter:url'>
        <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
        <!-- Generic -->
        <meta content='noodp,noydir' name='robots'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <!-- Microsoft -->
        <meta content='no' http-equiv='ImageResize'>
        <meta content='no' http-equiv='ImageToolbar'>
        <meta content='true' name='MSSmartTagsPreventParsing'>
        <!-- Facebook Places -->
        <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
    	  <link rel="stylesheet" href="css/smartnav.css">
    	  <link rel="stylesheet" href="css/mobile-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - Marketing Managers</title>
    </head>
    <body>
      <div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="img/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                    	<li class="home"></li>
        			  <li>Blogs
        			  	<ul>
                            <li><a href="product-updates.html">Product Updates</a></li>
                        </ul>
        			  </li>
        			  <li>
        			    About Us
        			    <ul>
        			      <li><a href="aboutus-team.html">Our Team</a></li>
        			      <li><a href="aboutus-company.html">Company</a></li>
        			      <li><a href="careers.html">Careers</a></li>
        			      <li><a href="terms-of-use.html">Terms of Use</a></li>
        			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
        			    </ul>
        			  </li>
        			  <li>Merchants
        			  	<ul>
        			      <li><a href="#">Current Stats</a></li>
        			      <li><a href="package-pricing.html">Pricing</a></li>
        			    </ul>
        			  </li>
        			  <li>Contact</li>
        			</ul>
        		</section>
            </section>
       </div>
      <section class="wrapper_terms">
        <h4>MERCHANT Marketing Managers</h4>
		<p class='head'>Drive footfall to your stores.</p>
		<p>&nbsp;</p>
		<p class='based'><a id='location_based'></a>Location Based Targeting
		</p>
		<p>Potential customers are everywhere. And location plays a key role in their buying behaviour. Our research shows that 79% of people will entertain offers if it is in their current neighbourhood. GullakMaster allows customers to type any area or pin-code when searching for discounts. Subsequently, we send discounts from stores closest to the location indicated by the customer.</p>
		<p>&nbsp;</p>
		<p class='based'><a id='context_based'></a>Context Specific Marketing
		</p>
		<p>People desire on the spur of the moment and seek immediate satisfaction. GullakMaster allows customers to SMS any keyword they desire. We match keywords for your brand and send only relevant offers to the customer. This keyword targeting provides instant brand recall to the customer and generates significantly higher conversion rates than other platforms.</p>
		<p>&nbsp;</p>
		<p class='based'><a id='mobile_targeting'></a>Mobile Advertising
		</p>
		<p>90% of India is carrying a mobile phone. Unlike other mediums such as TV, News Paper or Bill Boards, a cell phone is a personal device which is not shared with others. This gives us an opportunity to influence individual behaviour by targeting the customer on their mobile phone. Research shows that 98% of SMS are read within one minute. Through SMS, GullakMaster provides you the last mile access to the nearest customer, i.e. moments after customer makes the decision to buy a product or service that you sell.</p>
		<p>&nbsp;</p>
		<p class='based'>Other advantages of our platform</p>
		<p>
		i. Our service is on-demand only. Hence, DND does not apply to us
		<br>
		ii. You can set up multiple offers on our platform
		<br>
		iii. We allow unlimited keywords for each offer
		<br>
		iv. We have a robust pan-Mumbai and catchment specific media plan to enrol new customers with GullakMaster
		</p>
		<p>&nbsp;</p>
		<p>
		To join our Merchant network email at :
		<a href='mailto:merchant@gullakmaster.com'>merchant@gullakmaster.com</a>
		<br>
		</p>
		<p>&nbsp;</p>
      </section>
      <div id="footer">GullakMaster &#169; 2014</div>
    </body>
    </html>