<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
      <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
      <meta content='Deals, Offers, Discounts' name='Keywords'>
      <!-- Facebook -->
      <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
      <meta content='http://www.gullakmaster.com/' property='og:url'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
      <!-- Twitter Card -->
      <meta name='twitter:card' value='summary'>
      <meta name='twitter:site' value='@gullakmaster'>
      <meta content='http://www.gullakmaster.com/' name='twitter:url'>
      <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
      <!-- Generic -->
      <meta content='noodp,noydir' name='robots'>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <!-- Microsoft -->
      <meta content='no' http-equiv='ImageResize'>
      <meta content='no' http-equiv='ImageToolbar'>
      <meta content='true' name='MSSmartTagsPreventParsing'>
      <!-- Facebook Places -->
      <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
    	  <link rel="stylesheet" href="css/smartnav.css">
    	  <link rel="stylesheet" href="css/mobile-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <script type="text/javascript" src="js/jquery.ba-hashchange.js"></script>
    	  <script type="text/javascript" src="js/left-menu-bar.js"></script>
          <script src="js/jquery.color.js"></script>
          <script src="js/script.js"></script>
        <!-- aToolTip js -->
      <script type="text/javascript" src="js/jquery.atooltip.js"></script>
    	  
    	  <title>GullakMaster - Home</title>
        <script type="text/javascript">
          (function(){
              var field = document.getElementById('s');
              var placeholdertext = "Search box"; // << change this to whatever you want the placeholder text to be

              field.setAttribute("onblur", "if(value=='') { value = '" + placeholdertext + "'")
              field.setAttribute("onfocus", "if(value=='" + placeholdertext + "') { value = '' }")
          })(); 
        </script>
        <script type="text/javascript">
            $(function(){ 
                $('a.normalTip').aToolTip();
            }); 
        </script>
    </head>
    <body>
       <div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="img/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <!--<div class="clearboth"></div>-->
                        </div>
                    <ul class="smartnav">
                    	<li class="home"><a href="#">&nbsp;</a></li>
              			  <li>Blogs
              			  	<ul>
              			  	  <li>
                                  <p>This page is under construction</p>
                                </li>
              			  	</ul>
              			  </li>
              			  <li>
              			    About Us
              			    <ul>
              			      <li><a href="aboutus-team.html">Our Team</a></li>
              			      <li><a href="careers.html">Careers</a></li>
              			      <li><a href="terms-of-use.html">Terms of Use</a></li>
              			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
              			    </ul>
              			  </li>
              			  <li>Merchants
              			  	<ul>
              			      <li><a href="Sales-form.html">Contact Sales Rep</a></li>
              			    </ul>
              			  </li>
              			  <li>Contact
                        <ul>
                          <li><a href="office-locations.html">Office Locations</a></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="careers@gullakmaster.com">Career Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="merchant@gullakmaster.com">Merchant Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="investor@gullakmaster.com">Investor Enquiries</a></p></li>
                          <li><p><a href="#" class="normalTip exampleTip" title="media@gullakmaster.com">Media Enquiries</a></p></li>
                           </ul>
                      </li>
              			</ul>
              		</section>
                  </section>
       </div>
       <section class="maindiv">
    		<div id="popper" class="popper">
                <div id="v-nav">
                    <ul>
                    	<li tab="tab1" class="first current">
                          <span class="outlet-1"><a href="#" class="normalTip exampleTip" title="View deals">&nbsp;</a></span>
                        </li>
                        <li tab="tab2">
                          <span class="edit-1"><a href="#" class="normalTip exampleTip" title="Edit Location">&nbsp;</a></span>
                        </li>
                        <li tab="tab3">
     					            <span class="search-1"><a href="#" class="normalTip exampleTip" title="Filter">&nbsp;</a></span>
                        </li>
                        <li tab="tab4">
                          <span class="tell-frnd"><a href="#" class="normalTip exampleTip" title="Tell your friends">&nbsp;</a></span>
                        </li>
                        <li tab="tab5" class="last">
                          <span class="news-ltr"><a href="#" class="normalTip exampleTip" title="Feedback">&nbsp;</a></span>
                        </li>
                    </ul>
                    <div class="tab-content">
                      <div class="bd">
                            <div class="bdiv2">
                              <div class="bbox2">
                                <div class="brandtitle">maple</div>
                                <div class="eye2"></div>
                                <div align="center" class="brandlogo"><img src="img/maple-medium.png" border="0" /> </div>
                                
                                <div class="distance-div2">Distance: xx.x km</div>
                              </div>
                              <div class="lower-box">
                                <div class="refr2"></div>
                                <div class="right-box">
                                  <a href="#">
                                    <div class="run2"></div>
                                    <div class="runtxt">20.3K</div>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="add-offer-div">
                              <div class="offer-box">
                                <div class="offr-title">Get 50% Off </div>
                                <div class="offr-txt">Spend Rs.125 and above and get a Tropical Iceberg absolutely free</div>
                              </div>
                              <div class="add-box">
                                <div class="adtitle">Address </div>
                                <div class="adaddress">Ashiana Building, Flat 8, 31st Road, TPS 3, Opp. Shoppers Stop, Linking Road</div>
                                <div class="adloc">Bandra West<br />Mumbai 40050</div>
                              </div>
                            </div>
                      </div>
                      <div class="bd">
                            <div class="bdiv2">
                              <div class="bbox2">
                                <div class="brandtitle">maple</div>
                                <div class="eye2"></div>
                                <div align="center" class="brandlogo"><img src="img/maple-medium.png" border="0" /> </div>
                                
                                <div class="distance-div2">Distance: xx.x km</div>
                              </div>
                              <div class="lower-box">
                                <div class="refr2"></div>
                                <div class="right-box">
                                  <a href="#">
                                    <div class="run2"></div>
                                    <div class="runtxt">20.3K</div>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="add-offer-div">
                              <div class="offer-box">
                                <div class="offr-title">Get 50% Off </div>
                                <div class="offr-txt">Spend Rs.125 and above and get a Tropical Iceberg absolutely free</div>
                              </div>
                              <div class="add-box">
                                <div class="adtitle">Address </div>
                                <div class="adaddress">Ashiana Building, Flat 8, 31st Road, TPS 3, Opp. Shoppers Stop, Linking Road</div>
                                <div class="adloc">Bandra West<br />Mumbai 40050</div>
                              </div>
                            </div>
                      </div>
                    </div>
                    <div class="tab-content">
                        <div class="c-loc">
                          <div class="txt">Use Current location</div>
                          <div class="locimg">
                            <a href="#"><img src="img/homepage-ico.png"></a>
                          </div>
                          <div class="txt">OR</div>

                          <form id="searchForm">
                            <fieldset>
                              <div class="input">
                                <input type="search" name="s" id="s" value="Search..." />
                              </div>
                                <input type="submit" id="searchSubmit" value="" />
                            </fieldset>
                          </form>
                        </div>
                    </div>
                    <div class="tab-content">
                        <h4>Search</h4>
                        <p>We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin. We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin.</p>
                    </div>
                    <div class="tab-content">
                        <h4>Tell your friends</h4> 
                        <div>
    			          <p><!---popup text comes here-->
    			            <img src="img/PopUp_BG.png" alt="Tell your friends how awesome GullakMaster is" title="Tell your friends how awesome GullakMaster is" border="0" />
    			          </p>
    			          <ul class="pop-up-list">
    			            <li><a href="#"><img src="img/PopUp_Email.png" border="0"/></a></li>
    			            <li><a href="#"><img src="img/PopUp_FB.png" border="0"/></a></li>
    			            <li><a href="#"><img src="img/PopUp_SMS.png" border="0"/></a></li>
    			          </ul>
    			        </div>               
                    </div>
                    <div class="tab-content">
                        <h4>Provide your feedback</h4> 
                        <div>
                          <form class="form-vertical" id="contact-form" method='post' action=''>
    			            <fieldset>

    			            <div class="control-group">
    			            <label class="control-label">Email</label>
    			            <div class="controls">
    			            <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
    			            </div>
    			            </div>

    			            <div class="control-group">
    			            <label class="control-label">Please enter your feedback</label>
    			            <div class="controls">
    			            <textarea class="feedback" rows="3"></textarea>
    			            </div>
    			            </div>

    			            <div class="control-group">
    			            <label class="control-label"></label>
    			            <div class="controls">
    			            <button type="submit" class="btn btn-success btn-custom" onclick="location.href='mailto:sales@gullakmaster.com';" >Submit</button>
    			            </div>
    			            </div>

    			            </fieldset>
    			            </form>
                        </div>               
                    </div>
                </div>

    		</div>

        	<div id="home-outer-wrap">
              <iframe width="770" height="512" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=mumbai&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.235538,86.572266&amp;ie=UTF8&amp;hq=&amp;hnear=Mumbai,+Maharashtra,+India&amp;ll=19.075984,72.877656&amp;spn=0.366612,0.676346&amp;t=m&amp;z=11&amp;output=embed"></iframe>
        	</div>
        </section>
        <div id="footer">
          <div class="centerfooter">GullakMaster &#169; 2014</div>
        </div>
    	<script type="text/javascript" src="js/bootstrap.js"></script>
    </body>
    </html