<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
        <meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
        <meta content='Deals, Offers, Discounts' name='Keywords'>
        <!-- Facebook -->
        <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
        <meta content='http://www.gullakmaster.com/' property='og:url'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
        <!-- Twitter Card -->
        <meta name='twitter:card' value='summary'>
        <meta name='twitter:site' value='@gullakmaster'>
        <meta content='http://www.gullakmaster.com/' name='twitter:url'>
        <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
        <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
        <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
        <!-- Generic -->
        <meta content='noodp,noydir' name='robots'>
        <meta content='width=device-width, initial-scale=1.0' name='viewport'>
        <!-- Microsoft -->
        <meta content='no' http-equiv='ImageResize'>
        <meta content='no' http-equiv='ImageToolbar'>
        <meta content='true' name='MSSmartTagsPreventParsing'>
        <!-- Facebook Places -->
        <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
    	  <link rel="stylesheet" href="css/smartnav.css">
    	  <link rel="stylesheet" href="css/mobile-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - Office Locations</title>
    </head>
    <body>
      <div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="img/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                    	<li class="home"></li>
        			  <li>Blogs
        			  	<ul>
        			  	  <li>
                            <p>This page is under construction</p>
                          </li>
        			  	</ul>
        			  </li>
        			  <li>
        			    About Us
        			    <ul>
        			      <li><a href="aboutus-team.html">Our Team</a></li>
        			      <li><a href="aboutus-company.html">Company</a></li>
        			      <li><a href="careers.html">Careers</a></li>
        			      <li><a href="terms-of-use.html">Terms of Use</a></li>
        			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
        			    </ul>
        			  </li>
        			  <li>Merchants
        			  	<ul>
        			      <li><a href="#">Current Stats</a></li>
        			      <li><a href="package-pricing.html">Pricing</a></li>
        			    </ul>
        			  </li>
        			  <li>Contact</li>
        			</ul>
        		</section>
            </section>
       </div>
      <section id="wrapper-div">
        <h4>Office locations</h4>
			<!-- office_locations -->
			<div class='office_locations'>
			<!-- address -->
			<div class='address'>
			<p>&nbsp;</p>
			<p class='head'>
			<u>Nariman Point</u>
			</p>
			<p>&nbsp;</p>
			<p>
			219 Maker Chambers V
			<br>
			Nariman Point
			<br>
			Mumbai 400021
			<br>
			Ph: +91 22 22843186
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p class='head'>
			<u>Santacruz (E)</u>
			</p>
			<p>&nbsp;</p>
			<p>
			303 Ashish Mahal
			<br>
			Golibar Road, Number 1,
			<br>
			Santacruz East,
			<br>
			Mumbai 400055
			</p>
			<p>&nbsp;</p>
			<p>&nbsp;</p>
			<p class='head'>
			<u>Singapore</u>
			</p>
			<p>&nbsp;</p>
			<p>
			3 Moulmein Rise
			<br>
			10-02 The Springs
			<br>
			Singapore 308144
			</p>
			</div>
			<!-- address -->
			<!-- gmap -->
			<div class='gmap'>
			<img height='482' src="img/map_big.jpg" width="672">
			</div>
			<!-- gmap -->
			</div>
			<!-- office_locations -->
			<p>&nbsp;</p>
      </section>
     <div id="footer">GullakMaster &#169; 2014</div>>
    </body>
    </html>