<!doctype html>
  <html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
		<meta content='Deals, Offers, Discounts' name='Keywords'>
		<!-- Facebook -->
		<meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
		<meta content='http://www.gullakmaster.com/' property='og:url'>
		<meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
		<!-- Twitter Card -->
		<meta name='twitter:card' value='summary'>
		<meta name='twitter:site' value='@gullakmaster'>
		<meta content='http://www.gullakmaster.com/' name='twitter:url'>
		<meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
		<meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
		<!-- Generic -->
		<meta content='noodp,noydir' name='robots'>
		<meta content='width=device-width, initial-scale=1.0' name='viewport'>
		<!-- Microsoft -->
		<meta content='no' http-equiv='ImageResize'>
		<meta content='no' http-equiv='ImageToolbar'>
		<meta content='true' name='MSSmartTagsPreventParsing'>
		<!-- Facebook Places -->
		<meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="assets/bootstrap.css"  type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<link rel="stylesheet" href="assets/smartnav.css">
		<link rel="stylesheet" href="assets/desktop-css-styles.css">
    	  <title>GullakMaster - Packages Pricing</title>
    </head>
    <body>
    	<div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">deals at your fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="assets/desktop/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                    	<li class="home"><a href="mobile-desktop-customized.html">&nbsp;</a></li>
        			  <li>Blogs
        			  	<ul>
                            <li><a href="product-updates.html">Product Updates</a></li>
                        </ul>
        			  </li>
        			  <li>
        			    About Us
        			    <ul>
        			      <li><a href="traffic-patterns.html">Traffic Patterns</a></li>	
        			      <li><a href="aboutus-team.html">Our Team</a></li>
        			      <li><a href="careers.html">Careers</a></li>
        			      <li><a href="terms-of-use.html">Terms of Use</a></li>
        			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
        			    </ul>
        			  </li>
        			  <li>Merchants
              			  	<ul>
              			      <li><a href="Sales-form.html">Contact Sales Rep</a></li>
              			    </ul>
              		  </li>
        			  <li>Contact</li>
        			</ul>
        		</section>
            </section>
        </div>
    	<section id="pricing-div">
    			<div class="pricing-txt">Monthly Price Plans</div>
		    <ul class="pricing_table">
		    	<li class="price_block1">
					<!--<h5>Monthly Price Plans&nbsp;</h5>-->
					<div class="price">
						<div class="price_figure">
							<span class="price_number">&nbsp;</span>
							<span class="price_tenure">&nbsp;</span>
						</div>
					</div>
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Price</span>
						</div>
					</div>
					<ul class="features">
						<li>Ad Credits</li>
						<li>Call Credits</li>
						<li>Outlet Listings</li>
						<li>Keywords</li>
						<li>Account Logins</li>
						<li>Technical support</li>
					</ul>
					
				</li>
				<li class="price_block">
					<!--<h5>Demo</h5>-->
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Starter</span>
						</div>
					</div>
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Free</span>
						</div>
					</div>
					<ul class="features">
						<li>50</li>
						<li>5</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>No</li>
					</ul>
					<div class="footer-a">
						<a href="#" class="action_button">Get Started</a>
					</div>
				</li>
				<li class="price_block">
					<!--<h5>Basic</h5>-->
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Basic</span>
							<span class="price_tenure">(For single store retailers)</span>
						</div>
					</div>
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Rs. 2,500/-</span>
							<span class="price_tenure">per month</span>
						</div>
					</div>
					<ul class="features">
						<li>200</li>
						<li>20</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Yes</li>
					</ul>
					<div class="footer-a">
						<a href="#" class="action_button">Get Started</a>
					</div>
				</li>
				<li class="price_block">
					<!--<h5>Silver</h5>-->
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Silver</span>
							<span class="price_tenure">(Ideal for city wide retailers)</span>
						</div>
					</div>
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Rs. 5,000/-</span>
							<span class="price_tenure">per month</span>
						</div>
					</div>
					<ul class="features">
						<li>500</li>
						<li>50</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Yes</li>
					</ul>
					<div class="footer-a">
						<a href="#" class="action_button">Get Started</a>
					</div>
				</li>
				<li class="price_block">
					<!--<h5>Gold</h5>-->
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Gold</span>
							<span class="price_tenure">(Ideal for Pan India retailers)</span>
						</div>
					</div>
					<div class="price">
						<div class="price_figure">
							<span class="price_number">Rs. 10,000/-</span>
							<span class="price_tenure">per month</span>
						</div>
					</div>
					<ul class="features">
						<li>1100</li>
						<li>110</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Unlimited</li>
						<li>Yes</li>
					</ul>
					<div class="footer-a">
						<a href="#" class="action_button">Get Started</a>
					</div>
				</li>
			</ul>
    	</section>
    	<script src="assets/prefixfree.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="assets/bootstrap.js"></script>
      <div id="footer">GullakMaster &#169; 2014</div>
    </body>
    </html>