<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
    	<meta content='GullakMaster | Deals At Your Fingertips!' name='title'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
		<meta content='Deals, Offers, Discounts' name='Keywords'>
		<!-- Facebook -->
		<meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
		<meta content='http://www.gullakmaster.com/' property='og:url'>
		<meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
		<!-- Twitter Card -->
		<meta name='twitter:card' value='summary'>
		<meta name='twitter:site' value='@gullakmaster'>
		<meta content='http://www.gullakmaster.com/' name='twitter:url'>
		<meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
		<meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
		<meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
		<!-- Generic -->
		<meta content='noodp,noydir' name='robots'>
		<meta content='width=device-width, initial-scale=1.0' name='viewport'>
		<!-- Microsoft -->
		<meta content='no' http-equiv='ImageResize'>
		<meta content='no' http-equiv='ImageToolbar'>
		<meta content='true' name='MSSmartTagsPreventParsing'>
		<!-- Facebook Places -->
		<meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
    	  <link rel="stylesheet" href="css/smartnav.css">
    	  <link rel="stylesheet" href="css/mobile-css-styles.css">
    	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    	  <title>GullakMaster - Privacy Policy</title>

    </head>
    <body>
        <div id="header2">
    	  <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">Deals At Your Fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                	<div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="img/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                    	<li class="home"><a href="mobile-desktop-customized.html">&nbsp;</a></li>
        			  <li>Blogs
        			  	<ul>
        			  	  <li>
                            <p>This page is under construction</p>
                          </li>
        			  	</ul>
        			  </li>
        			  <li class="active">
        			    About Us
        			    <ul>
        			      <li><a href="traffic-patterns.html">Traffic Patterns</a></li>
        			      <li><a href="aboutus-team.html">Our Team</a></li>
        			      <li><a href="careers.html">Careers</a></li>
        			      <li><a href="terms-of-use.html">Terms of Use</a></li>
        			      <li><a href="privacy-policy.html">Privacy Policy</a></li>
        			    </ul>
        			  </li>
        			  <li>Merchants
              			  	<ul>
              			      <li><a href="Sales-form.html">Contact Sales Rep</a></li>
              			    </ul>
              			  </li>
        			  <li>Contact</li>
        			</ul>
        		</section>
            </section>
       </div>
       <section class="wrapper_terms">
       		<h4>
			Consumer Privacy Policy
			</h4>
			<p>Last Updated: May 01, 2013</p>
			<p>&nbsp;</p>
			<p>
			This Privacy Policy explains how information is collected and utilized by GullakMaster Private Limited ("GullakMaster" or "we", "us", "our"). This Privacy Policy applies to the GullakMaster website at
			<a href='http://www.gullakmaster.com' target='_blank'>www.gullakmaster.com</a> (the
			"Site"), GullakMaster Short Message Service, GullakMaster Blackberry service, and any other GullakMaster services via the mobile phone, internet, or email (together, the “Service”). If you have any concerns about this privacy policy please send an email setting out your concern to
			<a href='mailto:info@GullakMaster.com'>info@GullakMaster.com</a>
			and we shall endeavor to address your concern.
			</p>
			<p>&nbsp;</p>
			<p>GullakMaster is committed to respecting and protecting privacy for its Consumer’s.</p>
			<p>&nbsp;</p>
			<p class='head'>Definitions:</p>
			<p>&nbsp;</p>
			<p>
			<u>Consumer</u>
			means any person validly registered with GullakMaster as a customer and agrees to receive communication via any /all channel/channels of the Service.
			</p>
			<p class='head'>&nbsp;</p>
			<p>
			<u>Advertiser</u>
			any natural or legal person, firm, company, corporation, government, state, or agency of a state or any association, trust or partnership (whether or not having separate legal personality) or any two or more of the foregoing who are advertising brand, goods, services, or promotions through us.
			</p>
			<p>&nbsp;</p>
			<p>
			<u>Advertisement</u>
			means collectively, (i) informational advertisement including but not limited to creating brand awareness for products and services and (ii) promotional advertisement providing coupons and discounts to the Consumer.
			</p>
			<p>&nbsp;</p>
			<p>
			<u>Person</u>
			means any natural or legal person, firm, company, corporation, government, state, or agency of a state or any association, trust or partnership (whether or not having separate legal personality) or any two or more of the foregoing.
			</p>
			<p>&nbsp;</p>
			<p class='subhead'>1. What information do we collect?</p>
			<p>&nbsp;</p>
			<p>When you use the Service we may collect and process the following information including but not limited to:</p>
			<p class='head'>&nbsp;</p>
			<p>
			<b>Personal Infomation:</b>
			</p>
			<ul class='bulleted'>
			<li>Name;</li>
			<li>Gender;</li>
			<li>Address;</li>
			<li>Telephone Number;</li>
			<li>E-mail address;</li>
			<li>Consumer profile information on the Site;</li>
			<li>Any correspondence via the Service.</li>
			</ul>
			<p>&nbsp;</p>
			<p>
			<b>Anonymous Information:</b>
			</p>
			<ul class='bulleted'>
			<li>Some information is automatically collected about visitors to the Site by way of cookies. Cookies are alphanumeric identifiers that reside within the Customer or Retailer’s browser to enable GullakMaster’s computer systems to recognize the Consumer’s browser and to inform GullakMaster’s systems how and when pages within the Site are visited and by how many people;</li>
			<li>Location information transmitted from your smart phone handset or other location aware device when you use or interact with the Service;</li>
			<li>Activity, communication device, and location information you provide when you interact in any manner with the Service or GullakMaster Social Media profiles (e.g. Facebook, Twitter).</li>
			</ul>
			<p>&nbsp;</p>
			<p>
			<b>Service Related Information:</b>
			</p>
			<ul class='bulleted'>
			<li>This is information gathered when the Consumer uses our Service.</li>
			For example:
			<br>
			<li>Date and Time at the time of Service;</li>
			<li>Location of the Consumer at the time of Service;</li>
			<li>Advertisement received by the Consumer at the time of Service;</li>
			<li>Advertiser details at the time of Service.</li>
			</ul>
			<p>&nbsp;</p>
			<p class='subhead'>2. How do we use this information?</p>
			<p class='subhead'>&nbsp;</p>
			<p>GullakMaster does not share the Consumer’s name, email, telephone number and other personally identifiable information with any Advertiser or any Person unless we are under duty to disclose such information in order to comply with any legal obligation. We use your information in the following ways:</p>
			<p>&nbsp;</p>
			<p>
			<b>Personal Infomation:</b>
			</p>
			<ul class='bulleted'>
			<li>To provide you with information, products or services that you request from us or which may be of interest you, via the Site, or any other mobile or internet communication channel;</li>
			<li>To allow you to participate in interactive features of the Service;</li>
			<li>To notify you about changes to our Service, respond to your comments, complaints and other feedback on our Service, and to protect the rights and property of GullakMaster and its Consumers.</li>
			</ul>
			<p>&nbsp;</p>
			<b>Anonymous, Aggregate and Other Non-Personally Identifiable Information:</b>
			<br>
			<ul class='bulleted'>
			<li>To report anonymous, non-personally identifiable statistics regarding your use of the Service to third parties such as Advertisers and our affiliates, in order to improve our Service and to help our Advertisers serve you better and offer products and/or services and promotions which are more relevant to you;</li>
			<li>To manage, administer and enhance our Service (including its technology, operations and infrastructure);</li>
			<li>
			If we sell or buy any business or assets, in which case we may disclose your information to the prospective seller or buyer of such business or assets and their advisors.
			</li>
			</ul>
			<p>&nbsp;</p>
			<p class='subhead'>
			3. Information access and security
			<br>
			</p>
			<p>&nbsp;</p>
			<p>We shall retain your information and any other data for only as long as it is necessary. We take reasonable measures to protect Consumer information with an effort to prevent any misuse, unauthorized access, disclosure, alteration, distortion or destruction of any information. You agree to be responsible to protect the security of your username and password and other registration details. You remain fully responsible for all activities that take place using your password or account. You agree to immediately notify GullakMaster of any unauthorised use of your account and any other breach of security, and ensure that you exit from your account at the end of each session. GullakMaster accepts no liability for any loss or damage arising from your failure to comply with these requirements.</p>
			<p>&nbsp;</p>
			<p>If you wish to cancel your account and request that we no longer use your information please contact us at info@GullakMaster.com . You can access, update and delete the information you provided to us through the “My Details” link on the site or by sending us an email at info@GullakMaster.com . Please note that we reserve the right to refuse unreasonable requests.</p>
			<p>&nbsp;</p>
			<p class='subhead'>4. Modification</p>
			<p>&nbsp;</p>
			<p>The Privacy Policy may be altered at any time, at GullakMaster’s sole discretion. Any changes made by GullakMaster to the Privacy Policy will be notified to all Consumers by posting an announcement on the Site. Since changes in the Privacy Policy may not be notified to each Consumer by way of individual communication, Consumers are advised to regularly check the Site for any changes in the Privacy Policy.</p>
			<p>&nbsp;</p>
			<p>Consumers who do not agree with the Privacy Policy should discontinue the use of our Service. If GullakMaster makes any changes to this Privacy Policy, it shall change the "Last Updated" date above.</p>
			<p>&nbsp;</p>
       </section>
       <div id="footer">GullakMaster &#169; 2014</div>
    </body>
    </html>