<!doctype html>
  <html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='description'>
      <meta content='Deals, Offers, Discounts' name='Keywords'>
      <!-- Facebook -->
      <meta content='GullakMaster | Deals At Your Fingertips!' property='og:title'>
      <meta content='http://www.gullakmaster.com/' property='og:url'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' property='og:image'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' property='og:description'>
      <!-- Twitter Card -->
      <meta name='twitter:card' value='summary'>
      <meta name='twitter:site' value='@gullakmaster'>
      <meta content='http://www.gullakmaster.com/' name='twitter:url'>
      <meta content='GullakMaster | Deals At Your Fingertips!' name='twitter:title'>
      <meta content='Tell us your location and we will pull together the nearest deals right on your phone. No printouts, No costs, No hassles. Check it out.' name='twitter:description'>
      <meta content='http://www.gullakmaster.com/assets/logo-200.jpg' name='twitter:image'>
      <!-- Generic -->
      <meta content='noodp,noydir' name='robots'>
      <meta content='width=device-width, initial-scale=1.0' name='viewport'>
      <!-- Microsoft -->
      <meta content='no' http-equiv='ImageResize'>
      <meta content='no' http-equiv='ImageToolbar'>
      <meta content='true' name='MSSmartTagsPreventParsing'>
      <!-- Facebook Places -->
      <meta content='GullakMaster' property='og:site_name'>
    	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<link rel="stylesheet" href="css/smartnav.css">
		<link rel="stylesheet" href="css/mobile-css-styles.css">
    	  <title>GullakMaster - Sales Form</title>
        <!-- Include Bootstrap Asserts JavaScript Files. -->
        <script type="text/javascript" src="js/jquery.validate.min.js"></script>
        <script type="text/javaScript">
            $(document).ready(function(){
 
             $('#contact-form').validate(
             {
              rules: {
                f_name: {
                  minlength: 2,
                  required: true
                },
                c_name: {
                  minlength: 2,
                  required: true
                },
                l_name: {
                  minlength: 2,
                  required: true
                },
                user_email: {
                  required: true,
                  email: true
                },
                desig: {
                  minlength: 2,
                  required: true
                },
                number: {
                  minlength: 2,
                  required: true
                }
              },
              highlight: function(element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
              },
              success: function(element) {
                element
                .text('OK!').addClass('valid')
                .closest('.control-group').removeClass('error').addClass('success');
              }
             });
            }); // end document.ready
        </script>
    </head>
    <body>
        <div id="header2">
        <section id="top-bar">
            <section class="top-bar1">
                <div class="subtitle">deals at your fingertips !!!</div>
                <ul class="social-links">
                  <li><a href="https://www.facebook.com/GullakMaster" target="_blank"><i class="icon-facebook-rect"></i></a></li>
                  <li><a href="https://twitter.com/gullakmaster" target="_blank"><i class="icon-twitter" ></i></a></li>
                </ul>
            </section>
          </section>
          <section id="header-div">
                <section id="header-container">
                  <div class="wrapper">
                            <section id="logo-wrapper" class="one_fourth">
                                <a href="#"><img src="img/logo-white-transp.png" alt="GullakMaster" title="GullakMaster" /></a>
                            </section><!-- end logo -->
                            <div class="clearboth"></div>
                        </div>
                    <ul class="smartnav">
                      <li class="home"><a href="mobile-desktop-customized.html">&nbsp;</a></li>
                <li>Blogs
                  <ul>
                    <li><a href="product-updates.html">Product Updates</a></li>
                  </ul>
                </li>
                <li>
                  About Us
                  <ul>
                    <li><a href="traffic-patterns.html">Traffic Patterns</a></li>
                    <li><a href="aboutus-team.html">Our Team</a></li>
                    <li><a href="careers.html">Careers</a></li>
                    <li><a href="terms-of-use.html">Terms of Use</a></li>
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                  </ul>
                </li>
                <li class="active">Merchants
                        <ul>
                          <li><a href="Sales-form.html">Contact Sales Rep</a></li>
                        </ul>
                </li>
                <li>Contact</li>
              </ul>
            </section>
            </section>
       </div>
        <section id="wrapper-div">
            <form class="form-horizontal" id="contact-form" method='post' action=''>
            <fieldset>

            <legend>Contact Sales Rep</legend>

            <div class="control-group">
            <label class="control-label">Company Name</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="c_name" name="c_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="user_email" name="user_email" rel="popover" data-content="What’s your email address?" data-original-title="Email">
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="f_name" name="f_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="userl_name" name="l_name" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">Designation</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="desig" name="desig" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
            </div>
            </div>

            <div class="control-group">
            <label class="control-label">Mobile Number</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="number" name="number" rel="popover" data-content="Enter your first and last name." data-original-title="Full Name">
            </div>
            </div>
            

            <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
            <button type="submit" class="btn btn-success btn-custom" onclick="location.href='mailto:sales@gullakmaster.com';" >Submit</button>
            </div>
            </div>

            </fieldset>
            </form>
        </section>
      <div id="footer">GullakMaster &#169; 2014</div>
      <script type="text/javascript" src="js/bootstrap.js"></script>
    </body>
    </html>