<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Create an Awesome Vertical Tabbed Content Area using CSS3 & jQuery | FarDesign.net</title>

       <!-- Include Styles -->
        <link rel="stylesheet" href="assets/test-styles.css" />
        <!--[if IE 7]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
        <!--[if IE 8]><style type="text/css">#v-nav>ul>li.current{border-right:1px solid #fff!important}#v-nav>div.tab-content{z-index:-1!important;left:0}</style><![endif]-->
    </head>
    <body>

		<section id="popper" class="popper">

            <h1 class="title">Vertical Tabbed Content Area</h1>

            <div id="v-nav">

                <ul>
                    <li tab="tab1" class="first current">Design</li>
                    <li tab="tab2">Specs</li>
                    <li tab="tab3">Price</li>
                    <li tab="tab4" class="last">Release Date</li>
                </ul>

                <div class="tab-content">
                    <h4>Design</h4>
                    <p>We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin. We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin.</p>
                </div>

                <div class="tab-content">
                    <h4>Specs</h4>
                    <p>We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin. We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin.</p>
                </div>

                <div class="tab-content">
                    <h4>Price</h4>
                    <p>We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin. We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin.</p>                   
                </div>

                <div class="tab-content">
                    <h4>Release Date</h4> 
                    <p>We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin. We are using jQuery framework for manipulating the click event of our vertical tabbed content area. This code can be changed and converted to an jQuery vertical tabs plugin.</p>                  
                </div>

            </div>

		</section>

        <!-- Include Scripts 
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://benalman.com/code/projects/jquery-hashchange/jquery.ba-hashchange.js"></script>       
        <script type="text/javascript" src="test-script.js"></script>

    </body>
</html>