<div class="control-group">
  <label class="control-label">Address</label>
  <div class="controls">
    <%= f.text_field :address, :placeholder=>"Address", :class=>"validate[required,maxSize[200]]", "data-prompt-position"=>"topLeft"%>               
  </div>
</div>

<div class="control-group">
  <label class="control-label">Email Id</label>
  <div class="controls">
    <%= f.text_field :email_id, :placeholder=>"Email Id", :class=>"validate[required]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Mobile Number</label>
  <div class="controls">
    <%= f.text_field :mobile_number, :placeholder=>"+91-Mobile Number", :class=>"validate[minSize[10],maxSize[15]]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>  

<div class="control-group">
  <label class="control-label">Phone Number</label>
  <div class="controls">
    <%= f.text_field :phone_number, :placeholder=>"022- Phone Number", :class=>"validate[]", "data-prompt-position"=>"topLeft"%>
  </div>
</div>