<h3>You have been added as Account Admin of the following Account :</h3>
<h4>Company Name: <%= @account.registered_company_name %></h4>
<h4>Dashboard: http://admin.gullakmaster.com/merchantxxxxx</h4>
<h4>User Name: <%= @user.email %></h4>
<h4>Password: Use the same password as you have been using so far
<a href="http://admin.gullakmaster.com/merchant/users/password/new">Reset Password</a></h4>
<h4>We look forward to you running some exclusive deals on the GullakMaster network.</h4>

<address>
Yours Sincerely,
Kaustubh Gupte.
Account Manager | GullakMaster
+91 9769763947
</address>

