<h3>Dear, <%= @user.user_name %></h3>

<h3>You have been added as Account Admin of the following Account :</h3>
<%= @account.registered_company_name %>
<%= @account.address %>

<h4>You can accessGullakMaster at <a href="http://staging.gullakmaster.com/merchant/users/sign_up">Login</a></h4>
<a href="http://staging.gullakmaster.com/merchant/users/password/new">Reset Password</a>