<% if  current_merchant_user %>
  <%= render :partial=>"merchant/shared/merchant_header" %>
  <div class="row-fluid">
    <div class="span10">
      <%= yield %>
    </div>
  </div>
<% else %>
  <%= yield %>  
<% end %>