development:
  adapter: postgresql
  encoding: unicode
  database: gullak2_development
  pool: 5
  username: gullak2
  password:
  min_messages: WARNING

test:
  adapter: postgresql
  encoding: unicode
  database: gullak2_test
  pool: 5
  username: gullak2
  password:
  min_messages: WARNING

production:
  adapter: postgresql
  encoding: unicode
  database: gullak2_production
  pool: 5
  username: gullak2
  password:
