<%= render :partial=>'header' %>
<div class="row-fluid">
  <div class="span12">
    <div class="box">
      <div class="box-header">
        <ul class="nav nav-tabs nav-tabs-left">
          <li class="active"><a href="#single" data-toggle="tab">Single Code Multiple Use</a></li>
          <li><a href="#multiple" data-toggle="tab"><span>Multiple Code Single Use</span></a></li>
        </ul>
      </div>
      <div class="box-content">
        <div class="tab-content">
          <div class="tab-pane active" id="single">
            <%= render :partial=>"single_code" %>
          </div>
          <div class="tab-pane" id="multiple">
            <%= render :partial=>"multiple_code" %>
          </div>
        </div>         
      </div>  
    </div>
  </div>
</div> 