<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
    	  <title>&lt;Brandname&gt; - Offers sent log</title>
    	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
    	  <link rel="stylesheet" href="assets/bootstrap.min.css"  type="text/css"/>
        <link rel="stylesheet" href="assets/mobile-css-styles.css">
        <link type="text/css" rel="stylesheet" href="assets/jquery.mmenu.css" />
          <!-- jQuery -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>

          <script type="text/javascript" src="js/jquery.mmenu.js"></script>
          <script type="text/javascript">
            $(function() {
              $('nav#menu').mmenu();
            });
          </script>
          <style type="text/css">
          body {margin:0; padding:0;}
          </style>
          <script src="assets/jquery.color.js"></script>
          <script src="assets/script.js"></script>
          <script type="text/javascript" src="assets/jquery.pnotify.min.js"></script>
        <link href="assets/jquery.pnotify.default.css" media="all" rel="stylesheet" type="text/css" />
        <!-- Include this file if you are using Pines Icons. -->
        <link href="assets/jquery.pnotify.default.icons.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/jquery.sidr.dark.css">
        <link href="assets/transition.css" rel="stylesheet" type="text/css"/>
        <!-- Preloader -->
          <script type="text/javascript">
          // <![CDATA[
          $(window).load(function() { $("#spinner").fadeOut("slow"); })
          // ]]>
          </script>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->
        <!-- jQuery Plugin -->

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see a blank space instead of the map, this
      // is probably because you have denied permission for location sharing.

      var map;

      function initialize() {
        var mapOptions = {
          zoom: 6
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'Location found using HTML5.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);

      </script>
      <script type="text/javascript">
        (function() {
      if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement("style");
        msViewportStyle.appendChild(
          document.createTextNode("@-ms-viewport{width:auto!important}")
        );
        document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }
    })();
    </script>
    <script type="text/javascript">
      (function(){
          var field = document.getElementById('s');
          var placeholdertext = "Enter Category..."; // << change this to whatever you want the placeholder text to be

          field.setAttribute("onblur", "if(value=='') { value = '" + placeholdertext + "'")
          field.setAttribute("onfocus", "if(value=='" + placeholdertext + "') { value = '' }")
      })(); 
    </script>
    <script type="text/javascript">
      (function(){
          var field = document.getElementById('s2');
          var placeholdertext = "Search box"; // << change this to whatever you want the placeholder text to be

          field.setAttribute("onblur", "if(value=='') { value = '" + placeholdertext + "'")
          field.setAttribute("onfocus", "if(value=='" + placeholdertext + "') { value = '' }")
      })(); 
    </script>

    <!-- efforless script below -->
    <script type="text/javascript">
        jQuery(document).ready(function(){
            var pxShow = 80;//height on which the button will show
            var fadeInTime = 500;//how slow/fast you want the button to show
            var fadeOutTime = 500;//how slow/fast you want the button to hide
            var scrollSpeed = 500;//how slow/fast you want the button to scroll to top. can be a value, 'slow', 'normal' or 'fast'
            jQuery(window).scroll(function(){
                if(jQuery(window).scrollTop() >= pxShow){
                    jQuery("#backtotop").fadeIn(fadeInTime);
                }else{
                    jQuery("#backtotop").fadeOut(fadeOutTime);
                }
            });
            jQuery('#backtotop a').click(function(){
                jQuery('html, body').animate({scrollTop:0}, scrollSpeed);
                return false;
            });
        });
    </script>

    </head>
    <body>
      <!-- Preloader -->
      <div id="spinner"></div>
      <img src="img/ajax-load.gif" id="loading-indicator" class="dn" />
    	<div id="header">
        <ul class="left-icons">
          <li><a class="back-5" href="outletview-view.html">&nbsp;</a></li>
        </ul>
        <div class="head-brand">Offers Sent Log</div>
        <ul class="right-icons">
          <li><a href="#" class="phn">&nbsp;</a></li>
        </ul>
      </div>



        <div class="container-location">
            <div class="row-fluid">
                

                <div class="span12">
                  <select class="chzn-select" name="colors">
                    <option value="Aero blue">Date: Default Today's Date</option>
                    <option value="Air Force blue (RAF)">Tommorow's Date</option>
                  </select>
                </div>

                <div class="span12">
                    <table class="table table-normal">
                      <thead>
                      <tr>
                        <td>Time</td>
                        <td>Phone #</td>
                        <td>Details</td>
                        <td style="width: 40px">Redeem</td>
                      </tr>
                      </thead>

                      <tbody>                      
                      <tr class="status-info">
                        <td>11:00 AM</td>
                        <td><a href="#">XXXXXX-4567</a></td>
                        <td>
                          <a href="#" class="tran-details-tag">&nbsp;</a>
                        </td>
                        <td>
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck2">
                          </div>
                        </td>
                      </tr>

                      <tr class="status-success">
                        <td>1:27 PM</td>
                        <td><a href="#">XXXXXX-4567</a></td>
                        <td>
                          <a href="#" class="tran-details-tag">&nbsp;</a>
                        </td>
                        <td>
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck2">
                          </div>
                        </td>
                      </tr>

                      <tr class="status-info">
                        <td>1:49 AM</td>
                        <td><a href="#">XXXXXX-4567</a></td>
                        <td>
                          <a href="#" class="tran-details-tag">&nbsp;</a>
                        </td>
                        <td>
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck2">
                          </div>
                        </td>
                      </tr>

                      <tr class="status-info">
                        <td>2:04 AM</td>
                        <td><a href="#">XXXXXX-4567</a></td>
                        <td>
                          <a href="#" class="tran-details-tag">&nbsp;</a>
                        </td>
                        <td>
                          <div class="icheckbox_flat-aero checked" style="position: relative;">
                            <input type="checkbox" class="icheck" id="icheck2">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div id="backtotop">
           <a href="#">
              <img src="assets/back_to_top_btn-3.png" border="0" alt="Back to TOP" />
           </a>
        </div>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </body>    
</html>