<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
    	  <title>&lt;Brandname&gt; - Offers sent log</title>
    	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta name="HandheldFriendly" content="true" />
          <!-- jQuery -->

          <style type="text/css">
          body {margin:0; padding:0;}
          </style>
        <!-- Include this file if you are using Pines Icons. -->
        <!-- Preloader -->
          <script type="text/javascript">
          // <![CDATA[
          $(window).load(function() { $("#spinner").fadeOut("slow"); })
          // ]]>
          </script>
          <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
          <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
          <![endif]-->
        <!-- jQuery Plugin -->
    </head>
    <body>
      <!-- Preloader -->
        <div class="container-location">
            <div class="row-fluid">
                

                <div class="span12">
                  <select class="chzn-select" name="colors">
                    <option value="Aero blue">Date: Default Today's Date</option>
                    <option value="Air Force blue (RAF)">Tommorow's Date</option>
                  </select>
                </div>

                <div class="span12">
                    <table class="table table-normal">
                      <thead>
                      <tr>
                        <td>Time</td>
                        <td>Phone #</td>
                        <td>Details</td>
                        <td style="width: 40px">Redeem</td>
                      </tr>
                      </thead>

                      <tbody>
                      <% @sms_sents.each do |sms| %>
                          <tr>
                            <td><%= sms.created_at %></td>
                            <td><%= sms.customer.mobile_number %></td>
                            <td><%= sms.text %></td>
                            <td>
                              <div class="icheckbox_flat-aero checked" style="position: relative;">
                                <input type="checkbox" class="icheck" id="icheck2">
                              </div>
                            </td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
        <div id="backtotop">
           <a href="#">
             <%= image_tag("back_to_top_btn-3.png", :border => "0", :alt => "Back to TOP") %>
           </a>
        </div>
    </body>
</html>