
          <div class="row-fluid">
            <div class="span12">
              <div class="span8"><h4>Increase footfall in 3 simple steps</h4></div>
              <div class="mt10 ml0 span10">
                <div class="span2"><a href="#"><img src="img/lnk-brnds.jpg" border="0" /></a></div>
                <div class="span6">
                    <div class="ft-div"><h4>Link <a href="#">Brands</a> to your Account</h4></div>
                </div>
              </div>
              <div class="mt10 ml0 span10">
                <div class="span2"><a href="#"><img src="img/crt-outlt.jpg" border="0" /></a></div>
                <div class="span6">
                    <div class="ft-div"><h4>Create <a href="#">Outlets</a> for your Brands</h4></div>
                </div>
              </div>
              <div class="mt10 ml0 span10">
                <div class="span2"><a href="#"><img src="img/campaigns.jpg" border="0" /></a></div>
                <div class="span6">
                    <div class="ft-div"><h4>Run <a href="#">Campaigns</a> for specific Outlets</h4></div>
                </div>
              </div>
            </div>
          </div>

      