<!doctype html>
  <html>
    <head>
    	<meta charset="utf-8">
    	  <title>GullakMaster - Merchant Dashboard</title>
    	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	  <!--<link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>-->
    	  <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css"/>
    	  <link rel="stylesheet" href="css/customstyles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
    <body>
  		<section class="container">
        <div class="row-fluid">
    	    <div class="span8"><p><strong><%= @account.registered_company_name %> Account has been created</strong></p> </div>
          <div class="span11">
              <div class="span4">
                  <p>Dear <%# @user.first_name %></p>
                  <p>You are one step away from increasing footfall at your stores. After verifying your account details, we will send you an email with your access details.</p>
                  <p>We look forward to having you on-board.</p>
                  <p>GullakMaster</p>
              </div>
              <div class="ac-crtd span8">
                <h3>Increase Footfall at your Stores</h3>
                <div class="pic"><img src="img/home-rightimg.jpg" border="0" alt="Increase Footfall at your Stores" title="Increase Footfall at your Stores" /></div>
              </div>
          </div>
        </div>
      </section>    
    </body>
  </html>