


<h1>Company NameAccount has been created</h1>
<div class="row-fluid">
  <div class="span11">
      <div class="span4">
          <p>Dear &lt;First Name &gt;</p>
          <p>You are one step away from increasing footfall at your stores. After verifying your account details, we will send you an email with your access details.</p>
          <p>We look forward to having you on-board.</p>
          <p>GullakMaster</p>
      </div>
      <div class="ac-crtd span8">
        <h3>Increase Footfall at your Stores</h3>
        <div class="pic"><img src="img/home-rightimg.jpg" border="0" alt="Increase Footfall at your Stores" title="Increase Footfall at your Stores" /></div>
      </div>
  </div>
</div>
