<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @call_button_select.customer %>
</p>


<%= link_to 'Edit', edit_call_button_select_path(@call_button_select) %> |
<%= link_to 'Back', call_button_selects_path %>
