<!-- This file lives in public/422.html
<div class="dialog">
  <h1>The change you wanted was rejected.</h1>
  <p>Maybe you tried to change something you didn't have access to.</p>
</div>-->
<!-- Preloader -->
<div id="spinner"></div>
<%= image_tag("ajax-loader-123.gif", :id => "loading-indicator", :style => "display:none") %>

<div class="container">
  <div class="error-box-422">
    <div class="session-id">session id</div>
    <div class="home-div">
      <%= link_to raw("&nbsp;"), root_path, :class => "home" %>
    </div>
    <!--<div class="error-number">422</div>
 <div class="error-line">
   <p>Either the glass is broken</p>
   <p>....or the page</p>
 </div>
 <div class="click-to-go"><a href="javascript:history.back()">CLICK HERE TO GO BACK</a></div>
 <div class="error-logo"><a href="javascript:history.back()"><img src="assets/gm-small-logo.png"></a></div>-->
  </div>
</div>
