
/* Custom font */
* {margin: 0; padding: 0;}
@font-face {
    font-family: 'klavikaregular';
    src: url('fonts/klavika_regular-webfont.eot');
    src: url('fonts/klavika_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika_regular-webfont.woff') format('woff'),
         url('fonts/klavika_regular-webfont.ttf') format('truetype'),
         url('fonts/klavika_regular-webfont.svg#klavikaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'klavikabold';
    src: url('fonts/klavika_bold-webfont.eot');
    src: url('fonts/klavika_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/klavika_bold-webfont.woff') format('woff'),
         url('fonts/klavika_bold-webfont.ttf') format('truetype'),
         url('fonts/klavika_bold-webfont.svg#klavikabold') format('svg');
    font-weight: normal;
    font-style: normal;header {width: 100%; height: 115px; margin: 0 auto 0 auto;}

}
/* Custom font */

html {
  width: 100%;
}

body {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; background: #fff; width: 100%;}
header {width: 100%; height: 115px; margin: 0 auto 0 auto;}
#wrapper {background-image: url('../assets/page-bg.png'); background-repeat: no-repeat; margin: 0 auto; width: 810px; height: 1001px;}
.mainheader {width: 731px; height: 100%; margin: 0 auto; padding: 34px 0 0 0;}
.mainheader .logo {float:left; margin: 0 0 0 5px; border: none;}
.orangebox {float: right; width: 491px; height: 50px; background:#f7941e; color: #fff; margin: 56px 0 0 0;
	border-top-left-radius: 15px; border-bottom-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; -moz-border-bottom-right-radius: 15px;
 }
.orangebox .txt {float:right; color: #fff; font-size: 24px; margin: 7px 20px 0 0;}
.maindiv {margin: 0 auto; background: url(map-bg-responsive.png) no-repeat center center #fff; width: 810px; height:1001px; border: solid 1px #ccc;}

.contentbox {width: 706px; height: 339px; clear:both; background:#e6e7e8; border: solid 10px #f7941e; margin: 58px auto 0;}
.contentbox .box1 {float:left; width: 49%;}
.contentbox .box2 {float:left; width: 49%;}
.contentbox .box1 img {float: left; margin: 4% 0 0 10%;}
.contentbox .box2 .txt1 {margin:20% 0 0 0; text-align: center; font-size: 20px; font-weight: bold; color:#000;}
.contentbox .box2 .txt1 span {color: #ed1c24;}
.contentbox .box2 .txt2 {clear: both; text-align: center; margin: 15px 0 0 0; line-height: 28px; font-size: 20px; color:#000;}

.lower-contentbox {width:706px; height: 345px; clear: both; margin: 40px auto 0;}
.lower-contentbox .title {font-family: 'klavikabold', Tahoma, Verdana, Segoe, sans-serif; width: 100%;text-align: center; font-size: 38px; font-weight: bold; color: #ed1c24;}
.lower-contentbox .title2 {font-family: 'klavikabold', Tahoma, Verdana, Segoe, sans-serif; width: 100%; text-align: center; font-size: 26px; font-weight: bold; color: #000;}

.terms {clear:both; text-align: center; font-weight: bold; font-size: 18px; margin: 25px 0 0 0;}
ol.termslinks {clear: both; clear: both; margin: 3px 0 0 0; text-align: center; list-style-type: none;}
ol.termslinks li {clear: both; font-size: 20px;}

.homelinks {float:right; position: relative; width: 129px; height: 123px; right: 0px; bottom:38px;} 
.homelinks .home {float: right; margin: 15% 0 0 0;}
.homelinks .txt {float: right; text-align: center; color: #fff; font-weight: bold; font-size: 14px; margin: 0 2% 0 0;}

ul.sharelinks {float: left; position: relative; top:52px; left: 11%; list-style: none; width: auto;}
ul.sharelinks li {float: left; margin: 0 5px;}
a.tw {background: url(../assets/blog-sprite.png) no-repeat -2px -5px transparent; padding: 7px 15px 5px 17px;}
a.fb {background: url(../assets/blog-sprite.png) no-repeat -2px -92px transparent; padding: 7px 15px 5px 17px;}
a.gplus {background: url(../assets/blog-sprite.png) no-repeat -2px -137px transparent; padding: 7px 15px 5px 17px;}

footer {clear:both; width: 100%; height: 59px; background: #f7941e;}
.mainfooter {text-align: center; color:#fff; font-size: 18px; width: 706px; margin: 15px auto 4px auto;}

@media (min-width:320px) { 
/* smartphones, iPhone, portrait 480x320 phones */
    body {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; background: #fff;}
    #wrapper {
    background-image: url('../assets/page-bg.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 320px; 
    height: 480px;}
}
#wrapper2 {
    background-image: url('../assets/page-bg-closed.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat; 
    margin: 0 auto; 
    background-position: center;
    background-size: 100%; 
    width: 320px; 
    height: 480px;
}
header {width: 100%; height: 75px; margin: 0 auto 0 auto;}
.mainheader {width: 90%; height: 100%; margin: 0 auto; padding: 5px 0 0 0;}
.mainheader .logo {float:left; margin: 0 0 0 5px; border: none; width:100px;}
.mainheader .logo img {max-width: 70%; max-height:100%;}

.orangebox {float: right; width: 55%; height: 25%; background:#f7941e; color: #fff; margin: 13% 0 0 0;
    border-top-left-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px;
 }
.orangebox .txt {float:right; color: #fff; font-size: 0.9em; margin: 0px 5px 0 0;}

.contentbox {width: 85%; height: 30%; clear:both; background:#e6e7e8; border: solid 6px #f7941e; margin: 5% auto 0;}
.contentbox .box1 {float:left; width: 49%;}
.contentbox .box1 img {float: left; margin: 10% 0 0 10%; max-width: 90%; max-height:100%;}
.contentbox .box2 {float:left; width: 49%;}
.contentbox .box2 .txt1 {margin:20% 0 0 0; text-align: center; font-size: 0.8em; font-weight: bold; color:#000;}
.contentbox .box2 .txt1 span {color: #ed1c24;}
.contentbox .box2 .txt2 {clear: both; text-align: center; margin: 0.5em 0 0 0; line-height: 1.2em; font-size: 0.8em; color:#000;}
.contentbox .box2 .txt2 a {text-decoration: none; color: #000;}

.contentbox-closed {width: 85%; height: 30%; clear:both; margin: 58px auto 0;}
.contentbox-closed img {float: left; margin: 0% 0 0 5%; max-width: 90%; max-height:100%;}

.lower-contentbox {width:90%; height:auto; clear: both; margin: 7% auto 0;}
.lower-contentbox .title {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%;text-align: center; font-size: 1em; font-weight: bold; color: #ed1c24;}
.lower-contentbox .title2 {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%; text-align: center; font-size: 0.9em; font-weight: bold; color: #000;}

.terms {clear:both; text-align: center; font-weight: bold; font-size:1em; margin: 1% 0 0 0;}
ol.termslinks {clear: both; clear: both; margin: 3px 0 0 0; text-align: center; list-style-type: none;}
ol.termslinks li {clear: both; font-size: 0.8em;}

ul.sharelinks {float: left; position: relative; top:10px; left: 11%; list-style: none; width: auto;}
ul.sharelinks li {float: left; margin: 0 5px;}
a.tw {background: url(../assets/Emailer_Sprite.png) no-repeat 0 0 transparent; padding: 0px 1px 0px 14px;}
a.fb {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -40px transparent; padding: 0px 1px 0px 14px;}
a.gplus {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -60px transparent; padding: 0px 1px 0px 14px;}

.homelinks {float:right; position: relative; width: 21%; height: 76px; right: -16px; bottom:38px;} 
.homelinks .home {float: right; margin: 15% 0 0 0;}
.homelinks .home img {max-width: 30%; max-height:100%; float:right; margin: 17% 0 0 0;}
.homelinks .txt {float: right; text-align: center; color: #fff; font-weight: normal; font-size: 0.6em; margin: 3% 0 0 0;}

.homelinks2 {float:right; position: relative; width: 21%; height: 76px; right: -25px; top:117px;} 
.homelinks2 .home {float: right; margin: 15% 0 0 0;}
.homelinks2 .txt {float: right; text-align: center; color: #fff; font-weight: normal; font-size: 0.6em; margin: 0 2% 0 0;}
.homelinks2 .home img {max-width: 50%; max-height:100%; float:right; margin: 10px 0 0 0;}

footer {clear:both; width: 100%; height: auto; background: #f7941e;}
.mainfooter {text-align: center; color:#fff; font-size: 0.7em; width: 90%; margin: 5% auto 1% auto;}

.footer2 {clear:both; width: 100%; height: auto; background: #f7941e; margin: 50% 0 0 0;}
.mainfooter2 {text-align: center; color:#fff; font-size: 0.7em; width: 90%; margin: 5% auto 1% auto;}

}

@media (max-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    body {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; background: #fff;}
    #wrapper {
    background-image: url('../assets/page-bg.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 480px; 
    height: 480px;}
}
#wrapper2 {
    background-image: url('../assets/page-bg-closed.png'); 
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 480px; 
    height: 480px;}
header {width: 100%; height: 75px; margin: 0 auto 0 auto;}
.mainheader {width: 90%; height: 100%; margin: 0 auto; padding: 5px 0 0 0;}
.mainheader .logo {float:left; margin: 0 0 0 5px; border: none; width:100px;}
.mainheader .logo img {max-width: 70%; max-height:100%;}

.orangebox {float: right; width: 55%; height: 25%; background:#f7941e; color: #fff; margin: 13% 0 0 0;
    border-top-left-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px;
 }
.orangebox .txt {float:right; color: #fff; font-size: 0.9em; margin: 0px 5px 0 0;}

.contentbox {width: 85%; height: 30%; clear:both; background:#e6e7e8; border: solid 6px #f7941e; margin: 5% auto 0;}
.contentbox .box1 {float:left; width: 49%;}
.contentbox .box1 img {float: left; margin: 10% 0 0 10%; max-width: 90%; max-height:100%;}
.contentbox .box2 {float:left; width: 49%;}
.contentbox .box2 .txt1 {margin:20% 0 0 0; text-align: center; font-size: 0.8em; font-weight: bold; color:#000;}
.contentbox .box2 .txt1 span {color: #ed1c24;}
.contentbox .box2 .txt2 {clear: both; text-align: center; margin: 0.5em 0 0 0; line-height: 1.2em; font-size: 0.8em; color:#000;}
.contentbox .box2 .txt2 a {text-decoration: none; color: #000;}

.lower-contentbox {width:90%; height:auto; clear: both; margin: 7% auto 0;}
.lower-contentbox .title {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%;text-align: center; font-size: 1em; font-weight: bold; color: #ed1c24;}
.lower-contentbox .title2 {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%; text-align: center; font-size: 0.9em; font-weight: bold; color: #000;}

.terms {clear:both; text-align: center; font-weight: bold; font-size:1em; margin: 1% 0 0 0;}
ol.termslinks {clear: both; clear: both; margin: 3px 0 0 0; text-align: center; list-style-type: none;}
ol.termslinks li {clear: both; font-size: 0.8em;}

ul.sharelinks {float: left; position: relative; top:10px; left: 11%; list-style: none; width: auto;}
ul.sharelinks li {float: left; margin: 0 5px;}
a.tw {background: url(../assets/Emailer_Sprite.png) no-repeat 0 0 transparent; padding: 0px 1px 0px 14px;}
a.fb {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -40px transparent; padding: 0px 1px 0px 14px;}
a.gplus {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -60px transparent; padding: 0px 1px 0px 14px;}

.homelinks {float:right; position: relative; width: 21%; height: 76px; right: -16px; bottom:38px;} 
.homelinks .home {float: right; margin: 15% 0 0 0;}
.homelinks .home img {max-width: 50%; max-height:100%; float:right; margin: 17% 0 0 0;}
.homelinks .txt {float: right; text-align: center; color: #fff; font-weight: normal; font-size: 0.6em; margin: 3% 0 0 0;}

footer {clear:both; width: 100%; height: auto; background: #f7941e;}
.mainfooter {text-align: center; color:#fff; font-size: 0.7em; width: 90%; margin: 5% auto 1% auto;}
 }

@media (max-width:603px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
     body {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; background: #fff;}
    #wrapper {
    background-image: url('../assets/page-bg.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 602px; 
    height: 650px;}
}
#wrapper2 {
    background-image: url('../assets/page-bg-closed.png');
    background-repeat: no-repeat; 
    margin: 0 auto; 
    background-position: center;
    background-size: cover; 
    width: 602px; 
    height: 650px;
}
header {width: 100%; height: 75px; margin: 0 auto 0 auto;}
.mainheader {width: 90%; height: 100%; margin: 0 auto; padding: 5px 0 0 0;}
.mainheader .logo {float:left; margin: 0 0 0 5px; border: none; width:100px;}
.mainheader .logo img {max-width: 70%; max-height:100%;}

.orangebox {float: right; width: 55%; height: 25%; background:#f7941e; color: #fff; margin: 13% 0 0 0;
    border-top-left-radius: 5px; border-bottom-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-bottom-right-radius: 5px;
 }
.orangebox .txt {float:right; color: #fff; font-size: 0.9em; margin: 0px 5px 0 0;}

.contentbox {width: 85%; height: 30%; clear:both; background:#e6e7e8; border: solid 6px #f7941e; margin: 5% auto 0;}
.contentbox .box1 {float:left; width: 49%; border:solid 1px #000;}
.contentbox .box1 img {float: left; margin: 10% 0 0 10%; max-width: 90%; max-height:100%;}
.contentbox .box2 {float:left; width: 49%;}
.contentbox .box2 .txt1 {margin:20% 0 0 0; text-align: center; font-size: 0.8em; font-weight: bold; color:#000;}
.contentbox .box2 .txt1 span {color: #ed1c24;}
.contentbox .box2 .txt2 {clear: both; text-align: center; margin: 0.5em 0 0 0; line-height: 1.2em; font-size: 0.8em; color:#000;}
.contentbox .box2 .txt2 a {text-decoration: none; color: #000;}

.lower-contentbox {width:90%; height:auto; clear: both; margin: 7% auto 0;}
.lower-contentbox .title {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%;text-align: center; font-size: 1em; font-weight: bold; color: #ed1c24;}
.lower-contentbox .title2 {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; width: 100%; text-align: center; font-size: 0.9em; font-weight: bold; color: #000;}

.terms {clear:both; text-align: center; font-weight: bold; font-size:1em; margin: 1% 0 0 0;}
ol.termslinks {clear: both; clear: both; margin: 3px 0 0 0; text-align: center; list-style-type: none;}
ol.termslinks li {clear: both; font-size: 0.8em;}

ul.sharelinks {float: left; position: relative; top:10px; left: 11%; list-style: none; width: auto;}
ul.sharelinks li {float: left; margin: 0 5px;}
a.tw {background: url(../assets/Emailer_Sprite.png) no-repeat 0 0 transparent; padding: 0px 1px 0px 14px;}
a.fb {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -40px transparent; padding: 0px 1px 0px 14px;}
a.gplus {background: url(../assets/Emailer_Sprite.png) no-repeat 0 -60px transparent; padding: 0px 1px 0px 14px;}

.homelinks {float:right; position: relative; width: 21%; height: 76px; right: -16px; bottom:38px;} 
.homelinks .home {float: right; margin: 15% 0 0 0;}
.homelinks .home img {max-width: 50%; max-height:100%; float:right; margin: 17% 0 0 0;}
.homelinks .txt {float: right; text-align: center; color: #fff; font-weight: normal; font-size: 0.6em; margin: 3% 0 0 0;}

footer {clear:both; width: 100%; height: auto; background: #f7941e;}
.mainfooter {text-align: center; color:#fff; font-size: 0.7em; width: 90%; margin: 5% auto 1% auto;}
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    
}


@media (min-width:961px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    html {
  width: 100%;
}

body {font-family: 'klavikaregular', Tahoma, Verdana, Segoe, sans-serif; background: #fff; width: 100%;}
header {width: 100%; height: 115px; margin: 0 auto 0 auto;}
#wrapper {background-image: url('../assets/page-bg.png'); background-repeat: no-repeat; margin: 0 auto; width: 810px; height: 1001px;}
#wrapper2 {background-image: url('../assets/page-bg-closed.png'); background-repeat: no-repeat; margin: 0 auto; width: 810px; height: 837px;}
.mainheader {width: 731px; height: 100%; margin: 0 auto; padding: 34px 0 0 0;}
.mainheader .logo {float:left; margin: 0 0 0 5px; border: none;}
.mainheader .logo img {min-width:100%; min-height: 100%;}
.orangebox {float: right; width: 491px; height: 50px; background:#f7941e; color: #fff; margin: 56px 0 0 0;
    border-top-left-radius: 15px; border-bottom-right-radius: 15px; -webkit-border-bottom-right-radius: 15px; -moz-border-bottom-right-radius: 15px;
 }
.orangebox .txt {float:right; color: #fff; font-size: 24px; margin: 7px 20px 0 0;}
.contentbox {width: 706px; height: 339px; clear:both; background:#e6e7e8; border: solid 10px #f7941e; margin: 58px auto 0;}
.contentbox .box1 {float:left; width: 49%;}
.contentbox .box2 {float:left; width: 49%;}
.contentbox .box1 img {float: left; margin: 4% 0 0 10%;}
.contentbox .box2 .txt1 {margin:20% 0 0 0; text-align: center; font-size: 20px; font-weight: bold; color:#000;}
.contentbox .box2 .txt1 span {color: #ed1c24;}
.contentbox .box2 .txt2 {clear: both; text-align: center; margin: 15px 0 0 0; line-height: 28px; font-size: 20px; font-weight: bold; color:#000;}

.contentbox-closed {width: 714px; height: 346px; clear:both; margin: 58px auto 0;}
.contentbox-closed .box1 {float:left; width: 40%; border:solid 1px #000;}
.contentbox-closed .box2 {float:left; width: 59%; border:solid 1px #000;}
.contentbox-closed .box2 .txt1 {margin:4% 0 0 0; text-align: center; font-size: 20px; font-weight: bold; color: #ed1c24;}

.lower-contentbox {width:706px; height: 345px; clear: both; margin: 40px auto 0;}
.lower-contentbox .title {font-family: 'klavikabold', Tahoma, Verdana, Segoe, sans-serif; width: 100%;text-align: center; font-size: 38px; font-weight: bold; color: #ed1c24;}
.lower-contentbox .title2 {font-family: 'klavikabold', Tahoma, Verdana, Segoe, sans-serif; width: 100%; text-align: center; font-size: 26px; font-weight: bold; color: #000;}

.terms {clear:both; text-align: center; font-weight: bold; font-size: 18px; margin: 25px 0 0 0;}
ol.termslinks {clear: both; clear: both; margin: 3px 0 0 0; text-align: center; list-style-type: none;}
ol.termslinks li {clear: both; font-size: 20px;}

.homelinks {float:right; position: relative; width: 129px; height: 123px; right: 0px; bottom:55px;} 
.homelinks .home {float: right; margin: 15% 0 0 0;}
.homelinks .txt {float: right; text-align: center; color: #fff; font-weight: bold; font-size: 14px; margin: 0 2% 0 0;}
.homelinks .home img {max-width: 100%; max-height:100%; float:right; margin: 10px 0 0 0;}

.homelinks2 {float:right; position: relative; width: 129px; height: 123px; right: 0px; top:73px;} 
.homelinks2 .home {float: right; margin: 15% 0 0 0;}
.homelinks2 .txt {float: right; text-align: center; color: #fff; font-weight: bold; font-size: 14px; margin: 0 2% 0 0;}
.homelinks2 .home img {max-width: 100%; max-height:100%; float:right; margin: 10px 0 0 0;}

ul.sharelinks {float: left; position: relative; top:52px; left: 11%; list-style: none; width: auto;}
ul.sharelinks li {float: left; margin: 0 5px;}
a.tw {background: url(../assets/blog-sprite.png) no-repeat -2px -5px transparent; padding: 7px 15px 5px 17px;}
a.fb {background: url(../assets/blog-sprite.png) no-repeat -2px -92px transparent; padding: 7px 15px 5px 17px;}
a.gplus {background: url(../assets/blog-sprite.png) no-repeat -2px -137px transparent; padding: 7px 15px 5px 17px;}

footer {clear:both; width: 100%; height: 59px; background: #f7941e;}
.footer2 {clear:both; width: 100%; height: 59px; background: #f7941e; margin: 26% 0 0 0;}
.mainfooter {text-align: center; color:#fff; font-size: 18px; width: 706px; margin: 15px auto 4px auto;}
.mainfooter2 {text-align: center; color:#fff; font-size: 18px; width: 706px; margin: 30px auto 4px auto;}
 }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }