
* {margin: 0; padding: 0;} 
html, body {-webkit-text-size-adjust: 100%; font-size:14px;}
html, body {max-width: 100%; /*overflow-x: hidden;*/}
@font-face {
    font-family: 'CheltenhamLTRegular';
    src: url('itc-cheltenham-lt-book.eot');
    src: url('itc-cheltenham-lt-book.eot') format('embedded-opentype'),
         url('itc-cheltenham-lt-book.woff') format('woff'),
         url('itc-cheltenham-lt-book.ttf') format('truetype'),
         url('itc-cheltenham-lt-book.svg#CheltenhamLTRegular') format('svg');
}
@font-face {
    font-family: 'casperregular';
    src: url('casper-webfont.eot');
    src: url('casper-webfont.eot?#iefix') format('embedded-opentype'),
         url('casper-webfont.woff') format('woff'),
         url('casper-webfont.ttf') format('truetype'),
         url('casper-webfont.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'casper_boldregular';
    src: url('casper_bold-webfont.eot');
    src: url('casper_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('casper_bold-webfont.woff') format('woff'),
         url('casper_bold-webfont.ttf') format('truetype'),
         url('casper_bold-webfont.svg#casper_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kg_begin_againregular';
    src: url('kgbeginagain-webfont.eot');
    src: url('kgbeginagain-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgbeginagain-webfont.woff') format('woff'),
         url('kgbeginagain-webfont.ttf') format('truetype'),
         url('kgbeginagain-webfont.svg#kg_begin_againregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container-fluid {padding-left: 0;}
/* Top header styles */
#header2 {position:fixed; top:0; height:30px; display: block; width:100%; margin: 0 auto; background:#000; font-size:11px; color:#fff; z-index:2000; /*width:800px;*/}
#top-bar {width:100%; background-color: #252525; background-repeat: repeat-x;
  /* Safari 4-5, Chrome 1-9 */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#393939));
  /* Safari 5.1, Chrome 10+ */
    background: -webkit-linear-gradient(top, #252525, #393939);
  /* Firefox 3.6+ */
    background: -moz-linear-gradient(top, #252525, #393939);
  /* IE 10 */
    background: -ms-linear-gradient(top, #252525, #393939);
  /* Opera 11.10+ */
    background: -o-linear-gradient(top, #252525, #393939);
    height: 30px;
    display: block;
}
.subtitle {color: #FFFFFF; float: left; font-family: 'Open Sans',sans-serif; font-size: 14px; font-weight: bold;
    margin: 6px 0 0 1%;}
.top-bar1 {width:980px; height: 95%; margin: 0 auto;}
ul.social-links {float:right; width: auto; padding: 6px 0 0 0; margin: 0;}
ul.social-links li {float:left; margin: 0 6px; border: none; list-style: none;}
ul.social-links li a {vertical-align: middle;}
/* Top header styles */

/* Bootstrap nav */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:#ffffff; box-shadow:none; color:#000;}
.navbar-inner {background-image: none; background-color:transparent; box-shadow: none; border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: none; border-right:none; border-radius:0; padding-left: 0;}
.navbar .nav > li > a {padding: 3px 15px; font-family: sans-serif; font-size:11px; color: #000000; font-weight: bold; border-right: 1px solid #DDDDDD; text-transform: uppercase;}
.navbar .nav > li:first-child > a {padding-left: 0; cursor: pointer;}

.navbar .nav > li:last-child > a {border-right: none; cursor: pointer;}
.navbar .nav {margin:7px 10px 0 0;}
.navbar .brand {display: none;}
.navbar-form {float:right; position:relative; right:-6%; width:200px;}
.navbar-form input {width:70%; font-size: 12px; color:#000; float:left;}
.navbar-form .btn {}
.btn-subs {position:relative; top:6px; left:5px; border-radius: 4px; -moz-border-radius:4px; -webkit-border-radius:4px; color: #FFFFFF; background-color: #BE1E2D; border-color: #FFFFFF; font-size: 12px; font-weight: bold; border:none; padding:3px 6px; } 
 
.btn-subs:hover, 
.btn-subs:focus, 
.btn-subs:active, 
.btn-subs.active, 
.open .dropdown-toggle.btn-subs {color: #FFFFFF; background-color: #0091FF; border-color: #FFFFFF; } 
 
.btn-subs:active, 
.btn-subs.active, 
.open .dropdown-toggle.btn-subs {background-image: none; } 
 
.btn-subs.disabled, 
.btn-subs[disabled], 
fieldset[disabled] .btn-subs, 
.btn-subs.disabled:hover, 
.btn-subs[disabled]:hover, 
fieldset[disabled] .btn-subs:hover, 
.btn-subs.disabled:focus, 
.btn-subs[disabled]:focus, 
fieldset[disabled] .btn-subs:focus, 
.btn-subs.disabled:active, 
.btn-subs[disabled]:active, 
fieldset[disabled] .btn-subs:active, 
.btn-subs.disabled.active, 
.btn-subs[disabled].active, 
fieldset[disabled] .btn-subs.active {background-color: #1C9BC9; border-color: #FFFFFF;} 
 
.btn-subs .badge { color: #1C9BC9; background-color: #FFFFFF;}
/* Bootstrap nav */

/* Non bootstrap bar */
.non-bs-bar {display:none;}
/* Non bootstrap bar */



menu, ol, ul {padding:0;}
p, pre {margin: 0;}

/* Main Container */
.main-container {margin: 0 auto; width: 975px; height: auto; padding: 1px;}
#blogs-masthead {width: 100%; height: 71px; /*height: 110px;*/margin-bottom: 2px; margin-top: 0; padding-bottom: 10px; position: relative;}
#blogs-masthead .element1 {float: none; height: auto; position: absolute; width: auto; z-index: 1; top:25px;}
#blogs-masthead .element1 #logo a img {}
#logo {display: block;}
/* Main Container */

/* SLideshow page */
ul.picslidebox {float:left; width: 650px; height: auto; margin: 0; padding:0; border-right:1px solid #E2E2E2;}
ul.picslidebox li {float: left; clear: both; margin: 10px 0;  list-style: none;}
div.picleft {float:left; clear:both; margin:10px 0 0 0; padding:0; width:592px; height: 270px;}
div.picright {float: left; font-size: 15px; font-weight: bold; color: #000000; font-family: 'CheltenhamLTRegular',georgia,times,serif;
    font-size: 1.6em; font-weight: bold;}
div.picleft img {max-width: 100%; max-height: 100%;}    
/* SLideshow page */

/* Team page */
ul.team {float:left; width: 650px; margin: 0;}
ul.team li {float: left; clear: both; margin: 5px 0; list-style: none;}
div.teampic {float:left; width:auto; height: auto;}
.fl {float: left;}
div.teamemname {float: right; font-size: 21px; font-weight:bold; margin: 90px 0 0 82px; text-transform: uppercase;}

ul.team-members {float:left; clear:both; width:100%; height:auto; margin:0 0 10px 0; list-style-type:none; font-family: sans-serif;}
ul.team-members li {float:left; width:33%; height:auto; margin:3px 0 3px 0; line-height: 15px; /*margin:3px 7px 3px 30px;*/}
.tm-div {float:left; width: 100%; max-width:136px; height:auto;}
.tm-div .mem-pict {float:left; width:100%; margin:0 0 0 0; border:none;}
.tm-div .orng-box {clear:both; width:100%; height:auto; background-color:#D95578; font-size:0.7em; text-align:center;}
.orng-box .title {text-transform:uppercase; font-weight:bold; padding:5px 0 0 0; color:#FFF; /*padding:9px 0 0 0;*/}
.orng-box .nickname {padding:1px 0 0 0; color:#FFF;}
.orng-box .desig {padding:5px 0 0 0; font-weight:normal; color:#fff;}

.prf-div-pop {margin:14px auto 7px auto; width:90%; height:95%;}
.prf-div-pop .prof-div-lft {float:left; width:140px; height:95%; margin:0; text-align:center;}
.prof-div-lft .pic {float:left; margin:10px 0 15px 0; border:none;}
.prof-div-lft .name {clear:both; text-transform:uppercase; color:#be1e2d; font-size:0.8em; font-weight:bold;}
.prof-div-lft .nick {clear:both; color:#767676; font-size:0.7em;}
.prof-div-lft .title {clear:both; color:#000; font-size:0.7em;}
.prof-div-lft .l-in {clear:both; border:none; padding:2px 0 10px 0;}
.prf-div-pop .prof-div-rht {float:left; width:auto; color:#333333; height:auto; margin:5px 0 0 26px; font-family: Tahoma,"times new roman",times,serif; font-size:10px;}
.prof-div-rht p {text-align:justify; color:#000; margin:0px 0 10px 0; width:415px; font-size:1.5em;}

#signup, #ab, #nvm, #rh, #pd, #ad, #kg, #gd, #vv, #ak, #ss, #rp {
background: none repeat scroll 0 0 #FFFFFF; border-radius: 5px; display: none; height: auto; padding-bottom: 2px; width: 650px;}
.modal_close {position: absolute; top: -13px; right: -10px; display: block; width: 30px; height: 28px; z-index: 2; background-image: url(fancybox.png);
  background-position: -40px 0px;
}
/* Main div container */
.menu {width:950px; margin:0 auto;}
.main-div-contr {width:950px; margin:0 auto;}
.left-contr {float:left; width:65%; border-right: 1px solid #E2E2E2;}
.right-contr {float:left; width:32%; margin:0 0 0 2%;}
#team {float:left; clear:both; width: 100%; border-bottom:solid 1px #CCCCCC; padding-bottom: 20px; /*position: relative; top:22px;*/}
#careers {float:left; clear:both; width: 100%; border-bottom:solid 1px #CCCCCC; padding-bottom: 20px;/*position: relative; top:22px;*/}
#contact {float:left; clear:both; width: 100%; padding-bottom: 20px;/*position: relative; top:40px;*/}
/* Main div container */



/* Contact Us styles */
.con-container {float:left; width:100%; font-family: Tahoma,"times new roman",times,serif; color: #333333; margin: 0;}
.con-container .ofc-box {float:left;  width: 20%;}
.con-container .emailids {float:left; border-left: 1px solid #ccc; padding: 0% 0 0 3%; width: 65%;}
.ofc-box .head {color: #0095F4; font-weight: bold; line-height: 20px; margin: 0;}
.ofc-box p {text-align: left; line-height: 1.5em;}
.emailids .entry{float:left; clear: both; margin:0; /*margin: 2px 0;*/ text-align: left;}
.emailids .entry a {text-decoration: none; color: #000;}
/* Contact Us styles */

/* Careers Styles */
#wrapper-div {width:100%; line-height: 1.42857; background-color: #FFFFFF; float:left; font-family: Tahoma,"times new roman",times,serif; text-align: left; clear: both; height: auto; color:#333333;}
#wrapper-div .post a {font-family: arial,helvetica,sans-serif; color:#000; font-weight: bold; text-transform: uppercase; font-size: 0.9em;}
ul.cpoints {float:left; clear:both; width:100%; height:auto; margin: 5px 0 0 0;}
ul.cpoints li {float:left; clear: both; padding: 2px 0 2px 17px; text-align: left;
    background: url(tm-dot-pic.png) no-repeat 1px center; list-style: none;}
/* Careers Styles */

/* Footer */
#footer {width:100%; color:#000; clear:both; margin:0 auto; position: relative; top:10px; font-size:12px; padding:5px 0; border-top:solid 1px #cecece;}
.copy-div {text-align: center; color: #6e6e6e;}
ul.footerlinksmain {float:right; width:190px; height:auto; position: relative; left: 12px; bottom:20px;}
ul.footerlinksmain li {float:left; text-align: left; display:inline; padding:0 4px; border-right:solid 1px #ddd; list-style: none;}
ul.footerlinksmain li:last-child {border-right:none;}
ul.footerlinksmain li a, ul.footerlinksmain li a:link, ul.footerlinksmain li a:visited, ul.footerlinksmain li a:active {text-decoration: none; color:#6e6e6e;}
.copyinfo {float:left; text-align: left; color: #6e6e6e;}
/* Footer */

/* Privacy Policy */
.wrapper-terms {width: 620px; line-height: 1.42857; background-color: #FFFFFF; float:left; font-family: Tahoma,"times new roman",times,serif; text-align: left; clear: both; height: auto; color:#333333; padding: 0 30px 0 0;}
.wrapper-terms p {color: #333333; font-family: Tahoma,"times new roman",times,serif; line-height: 1.42857; text-align: left;}
.wrapper-terms p a {color: #000; text-decoration:none;}
ul.bulleted {list-style-type: circle; margin-left: 15px;}
ol.numbered li {list-style-position: inside; clear: both; margin: 3px 0;}
/* Privacy Policy */

/* Error page */
.error-image {width: 592px; height:auto;}
/* Error page */

/* Twitter roll */
.twit-container {float:left; width: 100%; margin: 0 0 0 1%;}
/* Twitter roll */

/* App landing page */
.app-wrapper {width:1200px; height:627px; margin: 10px auto; background-image: url(Background.png);}
.app-drawer {float:right; clear: both; width:50%; height:100%; margin: 4% 3% 0 0;}
.app-drawer .logo {float:right; clear: both; margin:5% 0 0 0; text-align: right; font-family:'kg_begin_againregular', Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#BE1E2D; font-size:4.2em; letter-spacing:0.1em;}
.app-drawer .logo a {font-family:'kg_begin_againregular', Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#BE1E2D; font-size:4.2em; letter-spacing:0.1em;}
.app-drawer .logo a, .app-drawer .logo a:active, .app-drawer .logo a:visited, .app-drawer .logo a:hover {text-decoration: none;}
.app-drawer .app-txt {float: right; clear: both; width:100%; height:auto; margin:6% 0 0 0; font-family:Helvetica, sans-serif; text-align: right; color:#BE1E2D;}
.app-txt .app-title {float:right; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size:1.91em; font-weight: normal; letter-spacing:0.06em; }
.app-txt p {font-size:1em; display: inline-block; text-align: right; margin:2% 0 0 0;}

ul.market-icons {float: right; width: 65%; height: auto; margin: 0; position: relative; left:5%; bottom:1%; list-style: none;}
ul.market-icons li {float:left; display: inline; margin:0 -5%;}
ul.market-icons li img {opacity:0.3; max-width:70%; max-height:70%;}
ul.market-icons li:last-child {margin-right:0;}

ul.app-social {float:right; clear:both; width: 20%; height: 20px; margin: 42% 0 0 0;}
ul.app-social li {float:left; display: inline; line-height: 10px; padding:0 3% 0 2%; margin:0 2% 0 2%; outline: none;}
ul.app-social li:last-child {}

ul.keyfeatures {float:right; clear: both; width:69%; height:auto; margin: 2% 0; list-style: none; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size: 1.3em; color: #727171; font-weight: bold;}
ul.keyfeatures li {float: left; clear:both; width: 100%; height:auto; margin:1% 0; background: url(iphone-dark-checkbox.original.png) no-repeat left center; padding:2% 2px 0 8%; }

.ss-wrapper {clear:both; width:1200px; height:627px; margin: 10px auto; background-image: url(Facebook-app-creative.png);}
.ss-wrapper .headline {clear: both; width: 77%; margin:2% auto; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size: 1.8em; color: #000; font-weight: bold;}
ul.screenshots {clear:both; width: 80%; height: 40%; margin: 10px auto; list-style: none; }
ul.screenshots li {float:left; display: inline; width: 20%; height: 100%; margin:0 2%;}
ul.screenshots li div.box-screen {width:100%; height: 100%; border:solid 1px #000; outline: none;}
div.box-screen .screen {float:left; width:99%; height: 40%; max-width:100%; max-height:100%; border:solid 1px #000; text-align:center; vertical-align: middle; outline: none; color: #000;}
div.box-screen .title {float:left; font-size:1.2em; text-align: left; margin:0 0 1% 0;}
div.box-screen p {float: left; clear: both; text-align: left; display: block; font-size: 0.9em;}

.fdb-wrapper {clear:both; width:77%; height: 30%; margin:1% auto;}
.fdb-wrapper .headline {clear: both; width: 100%; float:left; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size: 1.8em; color: #000; font-weight: bold;}
.fdb-wrapper ul.feedbackboxes {float:left; clear:both; width:100%; height:auto; margin: 0;}
ul.feedbackboxes li {float:left; width:30%; display: inline; margin:0 2% 0 0;}
ul.feedbackboxes li div.fdb-div {width: 100%; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-play {width: 100%; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-fb {max-width: 80%; outline:none;}

/*Google play styles */
.single-review {position: relative; margin-top:10px; width:100%;}
.single-review .author-image {left:0; position: absolute; top:0;}
.author-image {border-radius: 24px; box-shadow: 0 1px 2px #8D8D8D; height: 48px; width: 48px;}
.single-review img {max-width: 50%; max-height: 50%;}
.review-info {display: inline-block; margin-top: 6px; padding-bottom: 3px; padding-left: 57px;
    vertical-align: top;}
.review-date {color:#000; font-size:0.8em;}
.review-info .author-name {color: #8D8D8D; display: inline-block; height: 21px;
    max-width: 170px; overflow: hidden; vertical-align: top;}
.author-name {font-weight: 500;} 
.review-info-star-rating {height: 18px; margin-top: -1px;}   
.tiny-star.star-rating-non-editable-container {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQVQoz2P4//8/AzmYgWKN6KC4uFgYhGF8UjTqgjBJGqG2GUOxMF6NQAViQCwFxGpAbICk0QAqBpITw6ZRAUkxLqyA1akENCvg9SNQgRYWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 14px; width: 69px;}
.tiny-star .current-rating {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAdElEQVQoz2P4//8/AzmYgWKN6KC4uDgBhGF8UjQ+AGGSNEJt+w/FCXg1AhUUAHEDEB8A4g9IGj9AxUByBdg0LkBSjAsvwOpUApoX4PUjUMEFLJouEAwcSjTCFB+AYjAfr0agAgNo/AUgGRQAFTOgbpIjFQMAtcfKBD81ItYAAAAASUVORK5CYII=") repeat scroll left bottom rgba(0, 0, 0, 0);
    height: 14px; width:20px;}    
.review-body {margin: 4px 0 20px 57px; max-height: 308px; overflow: hidden;}    
.review-title {color: #555555; font-weight: bold;}

/*Google play styles */

/*App store feedback styles */
div.customer-review {clear: both; content: " "; display: block; float: none;}
div.customer-review h5 {color:#898989; font-size: 1em; font-weight: bold; line-height: 12px;}
div.customer-review h5 span {color:#898989;}
div.rating {margin-top:6px; display:inline-block;}
div.rating div span.rating-star {background: url(rating_star.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block; float: left; height: 11px; margin-right: 2px; width: 11px;}
div.rating div span.ghost {background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    margin: 0; position: absolute; width: 0;}    
div.customer-review span.user-info {display: block; margin: 2px 0 10px;}
div.customer-review p {color:#898989; height: auto; margin-bottom:18px;}

/*App store feedback styles */

/* App landing page */

/* Backtotop */
#backtotop {bottom: -60px; display: none; position: fixed; right: 60px;}
#backtotop a {border: 0 none; display: block; height: 155px; text-decoration: none; width: 31px;}
/* Backtotop */

.image-contr {float:left; border:none; width:100%; padding-bottom: 20px; border-bottom: solid 1px #CCC;}
.image-contr img {max-width:98%; max-height:auto; float:left; display: block;}
.imagedesc {clear:both; padding:10px 0 0 0; text-align:justify; font-family:Tahoma,times new roman,times,serif; font-size:1em; width:98%;}

/* iPad portrait mode*/
@media only screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait) {
.twit-container {display: none;}
.main-div-contr {width: 95%;}
.left-contr {float:left; width:100%;}
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7 {border-right:none;}
.non-bs-bar {display:none;}

}  
/* Tablet Nexus7 and 7 inch tablets */


/* Tablet Nexus7 and 7 inch tablets */
@media (max-width: 480px) and (orientation : portrait) {
body {font-size: 0.9em;}
.menu {width:100%; margin: 0 auto;}
.twit-container {display: none;}
.main-div-contr {width: 95%;}
.left-contr {float:left; width:100%; border-right: none;}
.right-contr {display: none;}
#slide1, #slide2, #slide3, #slide4, #slide5, #slide6, #slide7 {border-right:none;}
.tm-div {float:left; width: 100%; /*max-width:136px;*/ height:auto;}
.tm-div .mem-pict {float:left; width:100%; margin:0; border:none;}
.mem-pict img {max-width: 80%; max-height: auto; }
.tm-div .orng-box {clear:both; max-width:80%; height:auto; background-color:#D95578; font-size:0.7em; line-height: 1.3em; text-align:center;}
.orng-box .title {text-transform:uppercase; font-weight:bold; font-size: 0.8em; padding:5px 0 0 0; color:#FFF;}
.orng-box .nickname {padding:1px 0 0 0; color:#FFF; font-size: 9px;}
.orng-box .desig {padding:5px 0 0 0; font-weight:normal; color:#fff; font-size: 9px;}
#footer {width:100%; color:#000; clear:both; margin:10px auto; position: relative; font-size:0.6em; padding:2px 0; border-top:solid 1px #cecece;}
.copy-div {float:left; color: #6e6e6e;}
ul.footerlinksmain {float:right; position: relative; left: -3px; top: 5px; width:auto; height:auto; font-size:8px}
ul.footerlinksmain li {float:left; text-align: left; display:inline; line-height: 8px; padding:0 3px; border-right:solid 1px #ddd; list-style: none;}
ul.footerlinksmain li:last-child {border-right:none;}
.con-container .ofc-box {float:left; width: 35%; font-size: 0.85em;}
.con-container .emailids {float:left; font-size: 0.85em; padding: 0 0 0 1%; margin:0 0 0 1%; /*border-left: 1px solid #ccc;*/ padding: 0; width: 59%;}

.emailids .entry{float:left; clear: both; padding: 0 0 0 4%; line-height: 16px; /*margin: 2px 0;*/ text-align: left;}
.emailids .entry a {text-decoration: none; color: #000;}



.wrapper-terms {float:left; width:95%; padding: 0 2%; line-height: 1.42857; font-size: 1em; background-color: #FFFFFF;font-family: Tahoma,"times new roman",times,serif; text-align: justify; clear: both; height: auto; color:#333333;}
.wrapper-terms p {color: #333333; font-family: Tahoma,"times new roman",times,serif; line-height: 1.42857; text-align: left;}
.wrapper-terms p a {color: #000; text-decoration:none;}
ul.bulleted {list-style-type: circle; margin-left: 15px;}
ol.numbered li {list-style-position: inside; clear: both; margin: 3px 0;}
.error-image {width:100%; height:auto;}
.error-image img {max-width: 100%; max-height: auto;}

.prf-div-pop {margin:0 auto 2px auto; width:100%; height:auto;}
.prf-div-pop .prof-div-lft {float:left; width:13%; height:95%; margin:0;}
.prof-div-lft .pic {margin:0 auto; border:none;}
.prof-div-lft .pic img { max-width: 50%; max-height: 50%;}
.prof-div-lft .name { clear:both; text-transform:uppercase; color:#be1e2d; font-size:0.4em; font-weight:bold;}
.prof-div-lft .nick {clear:both; color:#767676; font-size:0.5em;}
.prof-div-lft .title {clear:both; color:#000; font-size:0.5em;}
.prof-div-lft .l-in {width:100%; clear:both; border:none; padding:2px 0 5px 0;}
.prof-div-lft .l-in img {max-width: 50%; max-height: 50%;}
.prf-div-pop .prof-div-rht {float:left; width:25%; color:#333333; height:auto; margin:0; font-family: Tahoma,"times new roman",times,serif; font-size:0.6em;}
.prof-div-rht p {text-align:justify; color:#000; margin:0px 0 10px 0; width: 100%;}

/* Bootstrap nav */
.navbar .btn-navbar {float:left; display: block; position:relative; margin-right: 0; left:-17px;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:#ffffff; box-shadow:none; color:#000;}
.navbar-inner {background-color: #F9F9F9;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;}
.navbar .nav > li > a {padding: 3px 15px 3px 0; font-family: sans-serif; font-size:11px; color: #000000; font-weight: bold; border-right: none; text-transform: uppercase;}
.navbar .nav > li:first-child > a {padding-left: 0; cursor: pointer;}
/* Bootstrap nav */  
.navbar-form {position: relative; left:-6%; border-top:none; border-bottom:none; box-shadow: none;}
}

@media only screen and (min-width: 540px) and (max-width: 1200px), handheld {
html, body {max-width: 100%; overflow-x: hidden;}
.left-contr {border-right:none;}
.non-bs-bar {display: none !important;}
/* Bootstrap nav */
.navbar .btn-navbar {float:left; display: block; position:relative; margin-right: 0; left:-17px;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:#ffffff; box-shadow:none; color:#000;}
.navbar-inner {background-color: #F9F9F9;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;}
.navbar .nav > li > a {padding: 3px 15px 3px 0; font-family: sans-serif; font-size:11px; color: #000000; font-weight: bold; border-right: none; text-transform: uppercase;}
.navbar .nav > li:first-child > a {padding-left: 0; cursor: pointer;}
/* Bootstrap nav */  
#footer {width:95%; color:#000; clear:both; margin:10px auto; position: relative; font-size:0.6em; padding:2px 0; border-top:solid 1px #cecece;}
.copy-div {float:left; color: #6e6e6e;}
ul.footerlinksmain {float:right; position: relative; left: -3px; height: 10px; bottom: 0; width:auto; height:auto; font-size:9px}
ul.footerlinksmain li {float:left; text-align: left; display:inline; padding:0 2px; border-right:solid 1px #ddd; list-style: none;}
ul.footerlinksmain li:last-child {border-right:none;} 
#mc_embed_signup {float:left; clear:both; position: relative; left:-28px;}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) and (orientation:landscape) {
.left-contr {border-right: none;}
.non-bs-bar {display: none !important;}  
.navbar .btn-navbar {float:left; display: block; position:relative; margin-right: 0; left:-17px;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:#ffffff; box-shadow:none; color:#000;}
.navbar-inner {background-color: #F9F9F9;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;}
.navbar .nav > li > a {padding: 3px 15px 3px 0; font-family: sans-serif; font-size:11px; color: #000000; font-weight: bold; border-right: none; text-transform: uppercase;}
.navbar .nav > li:first-child > a {padding-left: 0; cursor: pointer;}
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.navbar {border:solid 10px #000; width:97%; display: none;}
.navbar .nav {display: block; float: left; left: 0; margin: 0 10px 0 0; position: relative;}
.menu {width:95%; margin: 0 auto;}
.left-contr {border-right:none;}
.non-bs-bar {display:block!important; margin-bottom: 20px; overflow: visible;}
.non-bs-bar {background-color: rgba(0, 0, 0, 0); background-image: none; border-color: #CCCCCC -moz-use-text-color;
    border-radius: 0; border-style: solid none; border-width: 1px medium; box-shadow: none; padding-left: 0; min-height: 40px; 
    }
.non-bs-bar .nav {display: block; float: left; left: 0; margin: 7px 10px 0 0; position: relative; list-style:none outside none;}
.non-bs-bar .nav > li {float: left;}
.non-bs-bar .nav > li > a {float:none; border-right: 1px solid #DDDDDD; color: #000000; font-family: sans-serif;
  font-size: 11px; font-weight: bold; padding: 3px 15px; text-decoration:none; text-transform: uppercase; text-shadow:0 1px 0 #FFFFFF; display: block;}
.non-bs-bar .nav > li:first-child > a {cursor: pointer; padding-left:0;} 
.non-bs-bar .nav > li:last-child > a {border-right: none;} 
#mc_embed_signup {float:right; margin:-33px -3% 0 0;}    
.app-wrapper {width:750px; height:475px; margin: 2px auto; background-image: url(Background.png);
background-repeat:no-repeat; background-size:contain; background-position:center;
background-size: 90%; vertical-align: middle;}
.app-drawer .logo {float:right; clear: both; text-align: right; margin:10% 0 2% 0;}
.app-drawer .logo a {font-family:'kg_begin_againregular', Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#BE1E2D; font-size:2em; letter-spacing:0.1em;}  
.app-txt .app-title {float:right; font-size:1.2em; font-weight: normal; letter-spacing:0.06em; }
.app-txt p {font-size:0.8em; display: inline-block; text-align: right; margin:1% 0 0 0;}
.app-drawer {float:right; clear: both; width:50%; height:85%; margin: 1% 1% 0 0;}
ul.market-icons {float:right; width: 100%; height: 30%; margin: 1% -23% 0 -1%; list-style: none;}
ul.market-icons li {float:left; display: inline; margin:0 -9%; padding:0;}
ul.market-icons li a img{max-width: 50%; max-height: 50%;}
ul.app-social {float:right; clear:both; width: 30%; height: 20px; margin: 0 0 0 0;}

ul.keyfeatures {float:right; clear: both; width:80%; height:auto; margin: 1% 0; list-style: none; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size:0.8em; color: #727171; font-weight: bold;}
ul.keyfeatures li {float: left; clear:both; width: 100%; height:auto; margin:3px 0; background: url(iphone-dark-checkbox.original.png) no-repeat left center; background-size:20px 20px; padding:2px 2px 0 8%;}

.ss-wrapper {clear:both; width:750px; height:650px; margin: 10px auto; background-image: url(Facebook-app-creative.png);}
.fdb-wrapper {clear:both; width:77%; height: 30%; margin:1% auto;}
.fdb-wrapper .headline {clear: both; width: 100%; float:left; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size: 1.8em; color: #000; font-weight: bold;}
.fdb-wrapper ul.feedbackboxes {float:left; clear:both; width:100%; height:auto; margin: 0;}
ul.feedbackboxes li {float:left; width:31%; display: inline; margin:0 2% 0 0;}
ul.feedbackboxes li div.fdb-div {width: 100%; height: 40%; overflow: auto; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-play {width: 100%; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-fb {max-width: 100%; outline:none;}

#fb-root {display: none;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {width:230px !important; margin:0 0 0 1%; color: #efefef;}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
.navbar {border:solid 10px #000; width:97%; display: none;}
.navbar .nav {display: block; float: left; left: 0; margin: 0 10px 0 0; position: relative;}
.menu {width:92.5%; margin: 0 auto;}

.non-bs-bar {display:block !important; margin-bottom: 20px; overflow: visible;}
.non-bs-bar {background-color: rgba(0, 0, 0, 0); background-image: none; border-color: #CCCCCC -moz-use-text-color;
    border-radius: 0; border-style: solid none; border-width: 1px medium; box-shadow: none; padding-left: 0; min-height: 40px; 
    }
.non-bs-bar .nav {display: block; float: left; left: 0; margin: 7px 10px 0 0; position: relative; list-style:none outside none;}
.non-bs-bar .nav > li {float: left;}
.non-bs-bar .nav > li > a {float:none; border-right: 1px solid #DDDDDD; color: #000000; font-family: sans-serif;
    font-size: 11px; font-weight: bold; padding: 3px 15px; text-decoration:none; text-transform: uppercase; text-shadow:0 1px 0 #FFFFFF; display: block;}
.non-bs-bar .nav > li:first-child > a {cursor: pointer; padding-left:0;}  
.non-bs-bar .nav > li:last-child > a {border-right: none;}
#mc_embed_signup {float:right; margin:-33px -3% 0 0;}   

.app-wrapper {width:990px; height:627px; margin: 10px auto; background-image: url(Background.png);
    -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
  background-size: cover;}
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important; border:solid 10px #000; }

.app-drawer .logo {float:right; clear: both; text-align: right; margin:5% 0 2% 0;}
ul.keyfeatures {float:right; clear: both; width:81%; height:auto; margin: 2% 0; list-style: none; font-family: 'CheltenhamLTRegular',georgia,times,serif; font-size: 1.1em; color: #727171; font-weight: bold;}
ul.keyfeatures li {float: left; clear:both; width: 100%; height:auto; margin:1% 0; background: url(iphone-dark-checkbox.original.png) no-repeat left center; background-size:20px 20px; padding:1% 2px 0 8%; }

ul.market-icons {float: right; width: 82%; height: auto; margin: 5% 0 0 0; list-style: none;}  
ul.app-social {float:right; clear:both; width: 20%; height: 20px; margin: 45% 0 0 0;}

.ss-wrapper {clear:both; width:990px; height:650px; margin: 10px auto; background-image: url(Facebook-app-creative.png);}
.fdb-wrapper ul.feedbackboxes {float:left; clear:both; width:100%; height:auto; margin: 0;}
ul.feedbackboxes li {float:left; width:31%; display: inline; margin:0 2% 0 0;}
ul.feedbackboxes li div.fdb-div {width: 100%; height: 40%; overflow: auto; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-play {width: 100%; padding: 5px; outline:none;}
ul.feedbackboxes li div.fdb-fb {width:70%; max-width: 100%; outline:none;}

#fb-root {display: none;}
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {width:310px !important; margin:0 0 0 1%; color: #efefef;}
}

@media (max-width: 603px) and (orientation : portrait){
html, body {width:95%; overflow-x: hidden;}
.menu {width:90%; margin: 0 auto;}
.navbar .btn-navbar {float:left; display: block; position:relative; margin-right: 0; left:-17px;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {background-color:#ffffff; box-shadow:none; color:#000;}
.navbar-inner {background-color: #F9F9F9;
    /*background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);*/
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;}
.navbar .nav > li > a {padding: 3px 15px 3px 0; font-family: sans-serif; font-size:11px; color: #000000; font-weight: bold; border-right: none; text-transform: uppercase;}
.navbar .nav > li:first-child > a {padding-left: 0; cursor: pointer;}
/* Bootstrap nav */  
.navbar-form {position: relative; left:-6%; border-top:none; border-bottom:none; box-shadow: none;}

.menu {width:99%; margin: 0 auto;}
.left-contr {border-right:none;}
.non-bs-bar {display:none;}
/*.non-bs-bar {display:block; margin-bottom: 20px; overflow: visible;}
.non-bs-bar {background-color: rgba(0, 0, 0, 0); background-image: none; border-color: #CCCCCC -moz-use-text-color;
    border-radius: 0; border-style: solid none; border-width: 1px medium; box-shadow: none; padding-left: 0; min-height: 40px;}
.non-bs-bar .nav {display: block; float: left; left: 0; margin: 7px 10px 0 0; position: relative; list-style:none outside none;}
.non-bs-bar .nav > li {float: left;}
.non-bs-bar .nav > li > a {float:none; border-right: 1px solid #DDDDDD; color: #000000; font-family: sans-serif;
    font-size: 11px; font-weight: bold; padding: 3px 15px; text-decoration:none; text-transform: uppercase; text-shadow:0 1px 0 #FFFFFF; display: block;}
.non-bs-bar .nav > li:first-child > a {cursor: pointer; padding-left:0;} */

#footer {width:100%; color:#000; clear:both; margin:10px auto; position: relative; font-size:0.6em; padding:2px 0; border-top:solid 1px #cecece;}
.copy-div {float:left; color: #6e6e6e;}
ul.footerlinksmain {float:right; position: relative; left: -3px; top: 5px; width:auto; height:auto; font-size:8px}
ul.footerlinksmain li {float:left; text-align: left; display:inline; line-height: 8px; padding:0 3px; border-right:solid 1px #ddd; list-style: none;}
ul.footerlinksmain li:last-child {border-right:none;}
.con-container .ofc-box {float:left; width: 22%; font-size: 0.85em;}
.con-container .emailids {float:left; font-size: 0.85em; padding: 0 0 0 1%; margin:0 0 0 1%; /*border-left: 1px solid #ccc;*/ padding: 0; width: 59%;}

.emailids .entry{float:left; clear: both; padding: 0 0 0 4%; line-height: 16px; /*margin: 2px 0;*/ text-align: left;}
.emailids .entry a {text-decoration: none; color: #000;}

.app-wrapper {width:603px; height:627px; margin: 10px auto; background-image: url(Background.png);
background-repeat:no-repeat;
background-size:contain;
background-position:center;background-size: 90%; vertical-align: middle;}
.app-drawer {float:right; clear: both; width:80%; height:100%; margin: 0 12% 0 0; padding: 13% 0 0 0;}
.app-drawer .logo {float:right; clear: both; margin:5% 0 0 0; text-align: right;}
.app-drawer .logo a {font-family:'kg_begin_againregular', Tahoma, Arial, Helvetica, sans-serif; font-weight:normal; color:#BE1E2D; font-size:3.2em; letter-spacing:0.1em;}  
.app-txt .app-title {float:right; font-size:1.0em; font-weight: normal; letter-spacing:0.06em; }
.app-txt p {font-size:0.8em; display: inline-block; text-align: right; margin:2% 0 0 0;}

ul.market-icons {float:right; width: 80%; height: 30%; margin: 3% -18% 0 -1%; list-style: none;}
ul.market-icons li {float:left; display: inline; margin:0; padding:0;}
ul.market-icons li a img{max-width: 60%; max-height: 60%;}
ul.app-social {float:right; clear:both; width: 50%; height: 20px; margin: 0 -20% 0 0;}
ul.app-social li {float:left; display: inline; line-height: 10px; padding:0 3% 0 2%; margin:0 1% 0 1%; outline: none;}
ul.app-social li:last-child {}
}

@media (max-width: 966px) and (orientation :landscape){
html, body {width:98%; margin:0 auto; overflow-x: hidden;}
.menu {width:100%; margin: 0 auto;}
.non-bs-bar {display:block; margin-bottom: 20px; overflow: visible;}
.non-bs-bar {background-color: rgba(0, 0, 0, 0); background-image: none; border-color: #CCCCCC -moz-use-text-color;
    border-radius: 0; border-style: solid none; border-width: 1px medium; box-shadow: none; padding-left: 0; min-height: 40px;}
.non-bs-bar .nav {display: block; float: left; left: 0; margin: 7px 10px 0 0; position: relative; list-style:none outside none;}
.non-bs-bar .nav > li {float: left;}
.non-bs-bar .nav > li > a {float:none; border-right: 1px solid #DDDDDD; color: #000000; font-family: sans-serif;
    font-size: 11px; font-weight: bold; padding: 3px 15px; text-decoration:none; text-transform: uppercase; text-shadow:0 1px 0 #FFFFFF; display: block;}
.non-bs-bar .nav > li:first-child > a {cursor: pointer; padding-left:0;}
#mc_embed_signup {float:right; margin:0 1% 0 0;}
.app-wrapper {width:920px; height:627px; margin: 10px auto; background-image: url(Background.png);
    -webkit-background-size: cover; -moz-background-size: cover;-o-background-size: cover;
  background-size: cover;}
ul.market-icons {float:right; width: 90%; height: 60%; margin: 0 0 0 0; list-style: none;}
ul.market-icons li {float:left; display: inline; margin:0 -5%; padding:0;}
ul.market-icons li a img{max-width: 70%; max-height: 70%;}
ul.app-social {float:right; clear:both; width: 30%; height: 20px; margin: 0 0 0 0;}  
}

@media (max-width: 603px) and (orientation : landscape){
.menu {width:100%; margin: 0 auto;}
.twit-container {display: none;}
.main-div-contr {width: 95%;}
.left-contr {float:left; width:100%;}

.wrapper-terms {float:left; width:95%; padding: 0 2%; line-height: 1.42857; font-size: 0.9em; background-color: #FFFFFF;font-family: Tahoma,"times new roman",times,serif; text-align: justify; clear: both; height: auto; color:#333333;}
.wrapper-terms p {color: #333333; font-family: Tahoma,"times new roman",times,serif; line-height: 1.42857; text-align: left;}
.wrapper-terms p a {color: #000; text-decoration:none;}
ul.bulleted {list-style-type: circle; margin-left: 15px;}
ol.numbered li {list-style-position: inside; clear: both; margin: 3px 0;}

.error-image {width:100%; margin: 0 auto; height:auto;}
.error-image img {max-width: 100%; max-height: auto;}

#footer {width:100%; color:#000; clear:both; margin:10px auto; position: relative; font-size:0.6em; padding:2px 0; border-top:solid 1px #cecece;}
.copy-div {float:left; color: #6e6e6e;}
ul.footerlinksmain {float:right; position: relative; left: -3px; height: 10px; bottom: 10px; width:auto; height:auto; font-size:9px}
ul.footerlinksmain li {float:left; text-align: left; display:inline; padding:0 2px; border-right:solid 1px #ddd; list-style: none;}
ul.footerlinksmain li:last-child {border-right:none;} 

.prf-div-pop {margin:0 auto 2px auto; width:100%; height:auto;}
.prf-div-pop .prof-div-lft {width:15%; height:95%; margin:0;}
.prof-div-lft .pic {margin:0 auto; border:none;}
.prof-div-lft .pic img { max-width: 50%; max-height: 50%;}
.prof-div-lft .name { clear:both; text-transform:uppercase; color:#be1e2d; font-size:0.4em; font-weight:bold;}
.prof-div-lft .nick {clear:both; color:#767676; font-size:0.5em;}
.prof-div-lft .title {clear:both; color:#000; font-size:0.5em;}
.prof-div-lft .l-in {width:100%; clear:both; border:none; padding:2px 0 5px 0;}
.prof-div-lft .l-in img {max-width: 50%; max-height: 50%;}
.prf-div-pop .prof-div-rht {float:left; width:45%; color:#333333; height:auto; margin:0; font-family: Tahoma,"times new roman",times,serif; font-size:0.6em;}
.prof-div-rht p {text-align:justify; color:#000; margin:0px 0 10px 0; width: 100%;}

#backtotop {display:none; position:fixed; bottom:-25%; right:20px;}
#backtotop a {display: block; text-decoration: none;}
#backtotop a img {width:100%; max-width: 100%; max-height: 100%;}


}

