<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.4, user-scalable=no" />
  <title>Shoffr - Blog</title>
  <link href="/assets/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/assets/blog-styles.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  <title>Shoffr Blog -  Indian retail & customers insights</title>
  <meta name="title" content="Shoffr Blog -  Indian retail & customers insights"/>
  <meta name="description" content="Shoffr blog reports on insights and analysis from the Indian retail industry, customer behaviour, mobile marketing, and Shoffr product updates."/>
  <meta name="keywords" content="retail industry blog, customer insights blog, digital marketing blog, mobile marketing blog, location based marketing blog, retail industry insights, customer insights, digital marketing, digital marketing insights, behavioural marketing, contextual marketing, increase footfall, mobile marketing, mobile advertising, location based marketing, location based advertising"/>

  <!-- Facebook -->
  <meta property="og:title" content="Shoffr Blog -  Indian retail & customers insights" >
  <meta property="og:site_name" content = "Shoffr">
  <meta property="og:url" content="http://www.shoffr.com/blog.html">
  <meta property="og:description" content="Shoffr blog reports on insights and analysis from the Indian retail industry, customer behaviour, mobile marketing, and Shoffr product updates." >
  <meta property="og:image" content="http://shoffr.com/assets/social-media/shoffr_social_media_logo.png" >

  <!-- Twitter-->
  <meta name="twitter:card" content="summary" >
  <meta name="twitter:site" content="@_shoffr">
  <meta name="twitter:title" content="Shoffr Blog -  Indian retail & customers insights" >
  <meta name="twitter:image:src" content="http://shoffr.com/assets/social-media/shoffr_social_media_logo.png" >
  <meta name="twitter:description" content="Shoffr blog reports on insights and analysis from the Indian retail industry, customer behaviour, mobile marketing, and Shoffr product updates." >
</head>
<body>
<%= yield %>

</body>
</html>
