<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title><%= generate_error_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="robots" content="noindex">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <!-- Preloader -->
  <script type="text/javascript">// <![CDATA[
  $(window).load(function() { $("#spinner").fadeOut("slow"); })
  // ]]>
  </script>
  <script type="text/javascript">
      (function() {
          if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
              var msViewportStyle = document.createElement("style");
              msViewportStyle.appendChild(
                      document.createTextNode("@-ms-viewport{width:auto!important}")
              );
              document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
          }
      })();
  </script>
  <%= stylesheet_link_tag "error", :media => "all" %>
  <%= javascript_include_tag "error" %>

</head>
<body>
<%= yield %>

</body>
</html>
