<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <%= stylesheet_link_tag "outlet_manager", :media => "all" %>
  <%= javascript_include_tag "outlet_manager" %>

</head>
<body>

<%= yield %>

</body>
</html>
