<%= content_for :content_header do %>
  <div class="container-fluid">


    <div class="row-fluid">

     <div class="area-top clearfix">
      <div class="pull-left header">
        <h3 class="title">
          <i class="icon-dashboard"></i>

        </h3>
        <h5>
          <span class="hidden-tablet hidden-phone">
            Click <a href="#" id="switch-sidebar">here</a> for a different sidebar
          </span>
          <span class="hidden-desktop">
            A subtitle can go here
          </span>
        </h5>
      </div>
    </div>
  </div>
<% end %>
<%= content_for :breadcrumbs do %>
  <div class="container-fluid padded">
    <div class="row-fluid">

      <!-- Breadcrumb line -->

      <div id="breadcrumbs">
        <div class="breadcrumb-button blue">
          <a href="">
            <span class="breadcrumb-label"><i class="icon-home"></i> Home</span>
            <span class="breadcrumb-arrow"><span></span></span>
          </a>  
        </div>



        <div class="breadcrumb-button">
          <span class="breadcrumb-label">
            <i class="icon-dashboard"></i> Dashboard
          </span>
          <span class="breadcrumb-arrow"><span></span></span>
        </div>
      </div>
    </div>
  </div>
<% end %>      

