<h4><%= @account.registered_company_name %> Account has been created</h4>
<br><br>

<b>Dear <%= @users.first_name %></b>

<blockquote>You are one step away from<br>
increasing footfall at your stores.<br>
After verifying your account<br>
details, we will send you an email<br>
with your access details.<br>
We look forward to having you<br>
on-board.
GullakMaster.
</blockquote>